Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Bump helm controller (#132)
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.84.0.tgz
  index.yaml
Due: none

update ac major version
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

last fixes
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

change to alpha version
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update script to support alpha versions
  .circleci/update_chart_version.sh
Due: none

Change dependencies enabled default value
  wiz-kubernetes-integration/values.yaml
Due: none

Create wiz-kubernetes-integration chart (#126)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/package_index.sh
  .circleci/tests/charts_test.go
  .circleci/tests/testfiles/wiz-kubernetes-integration.yaml
  .circleci/update_chart_version.sh
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/.helmignore
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/NOTES.txt
  wiz-kubernetes-integration/templates/_helpers.tpl
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.0.0-alpha.tgz
Due: none

package
  wiz-admission-controller-3.0.0-alpha.tgz
Due: none

package
  wiz-kubernetes-connector-2.2.7-alpha.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.7-alpha.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.0-alpha to 0.1.1-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

fast push
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Fix commit packages to master
  .circleci/update_chart_version.sh
  wiz-admission-controller-3.0.0-alpha.tgz
  wiz-kubernetes-connector-2.2.7-alpha.tgz
Due: none

Add ingress rule for network policy
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/networkpolicy.yaml
Due: wiz-admission-controller

Revert global changes
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Add ingress rule for network policy (#135)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/networkpolicy.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

package
  wiz-admission-controller-2.3.2.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.3.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.1-alpha to 0.1.2-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

delete 2.3.2
  wiz-admission-controller-2.3.2.tgz
Due: none

Fix commit packages to master (#134)
  .circleci/update_chart_version.sh
  wiz-admission-controller-2.3.2.tgz
  wiz-admission-controller-3.0.0-alpha.tgz
  wiz-kubernetes-connector-2.2.7-alpha.tgz
Due: none

Revert "Revert global changes"
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

NL
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

Wz 15585 fix ingress policy 2 (#136)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.0.1-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.2-alpha to 0.1.3-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

Delete pre-upgrade annotation
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

Delete pre-upgrade annotation (#138)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.8-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.3-alpha to 0.1.4-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none
