Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Configure liveness and readiness probes
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

Admission controller - Add credential-helper flag + Configure probes (#168)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.0-beta.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.25 to 0.1.26
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.26.tgz
Due: none

Done
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Add cluster external ID (#169)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.3.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.26 to 0.1.27
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.27.tgz
Due: none

add toggle to disable/enable whole chart, default enabled
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-connector/templates/service-account-broker.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Fix typo
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

.
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

Admission controller - beta version - fix typo (#171)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.0-beta.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.27 to 0.1.28
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.28.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2586.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.28 to 0.1.29
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.29.tgz
Due: none

added to jobs annotations from values to support argocd
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

changed annotations under auto create connector
  wiz-kubernetes-connector/values.yaml
Due: none

changed job annotation value
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

changed indent
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Wiz kubernetes connector - Added to jobs annotations from values to support argocd (#172)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.3.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.29 to 0.1.30
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.30.tgz
Due: none

Bump charts
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

Bump charts (#173)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.08.21.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.08.21.tgz
  index.yaml
Due: none

Private preview version
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - Image integrity -private preview version (#174)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.30 to 0.1.31
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.31.tgz
Due: none

added new rollme to broker and jobs
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

Support storage account private endpoints
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
