Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

New version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New version (#250)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.01.17.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.01.17.tgz
  index.yaml
Due: none

Update job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

Update job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Update Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: none

Add a TTL for the connector Jobs (#252)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.72 to 0.1.73
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.73.tgz
Due: none

done
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

bump version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Add configurable timeoutSeconds for webhooks (#255)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.8.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.73 to 0.1.74
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.74.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/role.yaml
  wiz-sensor/templates/rolebinding.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3492.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.74 to 0.1.75
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.75.tgz
Due: none

change ac + broker ACR
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
Due: wiz-broker, wiz-admission-controller

update kubernetes connector
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Update registry name to new public-registry.wiz.io (#256)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.15.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.9.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.75 to 0.1.76
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.6.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.76.tgz
Due: none

Revert "Update registry name to new public-registry.wiz.io (#256)"
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

version
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

update image version
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Revert "Update registry name to new public-registry.wiz.io" (#257)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.16.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.10.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.7.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.76 to 0.1.77
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.77.tgz
Due: none

update registry to new public-registry.wiz.io
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

bump version
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller
