Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

Update charts with latest changes (#634)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.12.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.15.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.97.tgz
Due: none

Chart publishing workflow (#629)
  .github/workflows/release.yaml
  .github/workflows/scripts/get_changed_charts.sh
Due: none

Update charts with latest changes
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/encryption.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes (#635)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/encryption.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250610.tgz
Due: none

WZ-55366 - Outpost lite - support additional secrets
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes (#637)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250615.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/sensor-secrets.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes (#638)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/sensor-secrets.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.98.tgz
Due: none

Update Chart.yaml for wiz-kubernetes-integration
  wiz-kubernetes-integration/Chart.yaml
Due: none

Update Chart.yaml for wiz-kubernetes-integration (#639)
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.99.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
Due: none

Update charts with latest changes (#640)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.06.22.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes (#641)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.4.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.100.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
Due: none

Update charts with latest changes (#642)
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.101.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
Due: none

Update charts with latest changes (#643)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.06.26.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes (#645)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.07.07.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/gkeallowlistsynchronizer.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes (#647)
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/gkeallowlistsynchronizer.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
