Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2026.02.15.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.02.15.tgz
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.02.17.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.02.17.tgz
Due: none

Add wiz-outpost-common library chart to CI pipeline
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Adds namespace-scoped RBAC for reduced permissions mode.
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRole.yaml
  wiz-outpost-configuration/templates/outpostController.fluxNamespace.rbac.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Replace fluxRbacEnabled with wizFluxNamespace for explicit namespace configuration
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.fluxNamespace.rbac.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/proxysecret.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9813.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.16.tgz
Due: none

Add wiz-outpost-common library chart to CI pipeline (#667)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/server-cert.secret.yml
  git-proxy/templates/service.yaml
  git-proxy/values.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-common/templates/_controlplane-tls.tpl
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/controlplane-cert.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.02.19.tgz
Due: none

Update charts with latest changes
  wiz-outpost-common/templates/_controlplane-tls.tpl
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRole.yaml
  wiz-outpost-configuration/templates/outpostController.fluxNamespace.rbac.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.02.22.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.10-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.17.tgz
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  wiz-outpost-common/Chart.yaml
Due: git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.2.19.tgz
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.2.26.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRole.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.02.26.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.10-preview.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.18.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.10.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.19.tgz
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/service.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-common/templates/_controlplane-tls.tpl
  wiz-sensor/Chart.yaml
Due: git-proxy, wiz-sensor

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.3.3.tgz
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.3.3.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9814.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.20.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/WIZ-UPSTREAM-SYNC.md
  flux2/templates/helm-controller.yaml
  flux2/templates/kustomize-controller.yaml
  flux2/templates/source-controller-service.yaml
  flux2/templates/source-controller.yaml
  flux2/templates/sync.yaml
  flux2/templates/wiz/ca-resources.yaml
  flux2/templates/wiz/source-controller-server-cert.yaml
  flux2/templates/wiz/tls.tpl
  flux2/values.yaml
  git-proxy/Chart.yaml
  git-proxy/templates/server-cert.secret.yml
  git-proxy/templates/service.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-common/templates/_controlplane-tls.tpl
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRole.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.3.4.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.3.5.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.3.4.tgz
  index.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
