Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Publish wiz-network-analyzer
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Publish wiz-network-analyzer (#496)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Trigger wiz-network-analyzer chart publish
  wiz-network-analyzer/Chart.yaml
Due: none

Trigger wiz-network-analyzer chart publish (#497)
  wiz-network-analyzer/Chart.yaml
Due: none

CircleCI: Upload wiz-network-analyzer chart
  index.yaml
  wiz-network-analyzer-0.1.1.tgz
Due: none

k8s helm charts - make proxy great again
  wiz-kubernetes-integration/templates/secret-proxy.yaml
Due: none

k8s helm charts - make proxy great again (#498)
  wiz-kubernetes-integration/templates/secret-proxy.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.38.tgz
Due: none

Remove tests from downstream charts
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/audit-log-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/hpa-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller-overridelongname.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller.yaml
  .circleci/tests/testfiles/wiz-broker/wiz-broker.yaml
  .circleci/tests/testfiles/wiz-kubernetes-connector/wiz-kubernetes-connector.yaml
Due: none

Remove tests from downstream charts (#499)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/audit-log-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/hpa-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller-overridelongname.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller.yaml
  .circleci/tests/testfiles/wiz-broker/wiz-broker.yaml
  .circleci/tests/testfiles/wiz-kubernetes-connector/wiz-kubernetes-connector.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#500)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.5.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.11.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.10.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.38 to 0.2.39
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.39.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.5443.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.39 to 0.2.40
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.40.tgz
Due: none

Update version
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#501)
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2025.01.13-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2025.01.13-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.01.13-rc.tgz
Due: none

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#502)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2025.01.13.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2025.01.13.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.01.13.tgz
Due: none

wiz-network-analyzer - added region and fixed CA proxy
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-outpost.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer.yaml
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/values.yaml
Due: none

Fixed the comment for wizRegion
  wiz-network-analyzer/values.yaml
Due: none

wiz-network-analyzer - added region and fixed CA proxy (#503)
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-outpost.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer.yaml
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/values.yaml
Due: none

CircleCI: Upload wiz-network-analyzer chart
  index.yaml
  wiz-network-analyzer-0.1.2.tgz
Due: none

wiz-network-analyzer - fixed the output writeable path
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/values.yaml
Due: none

wiz-network-analyzer - fixed the output writeable path (#504)
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/values.yaml
Due: none

CircleCI: Upload wiz-network-analyzer chart
  index.yaml
  wiz-network-analyzer-0.1.3.tgz
Due: none

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/templates/service-account-token-generator.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
