Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes (#598)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.86 to 0.2.87
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.9.5.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.87.tgz
Due: none

fixed based on cr
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

reverts golden for vcs and container registry
  .circleci/tests/golden/wiz-outpost-lite/container-registry-with-proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/container-registry.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/vcs.golden.yaml
Due: none

reverting changes
  wiz-outpost-lite/values.yaml
Due: none

reverted changes
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/vcs.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/remediation-special-security-context.yaml
  wiz-outpost-lite/values.yaml
Due: none

service account for remediation
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  wiz-outpost-lite/values.yaml
Due: none

Added HTTPS proxy support for Wiz Kubernetes Integration (#590)
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.88.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/certmanager.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/input-validations.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-common/templates/_resources.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/input-validations.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: wiz-broker, wiz-admission-controller

fixed merging issues
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

typo fix
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  wiz-outpost-lite/templates/deployment.yaml
Due: none

YossiMarzuk-WZ-69320
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

delete UTs from charts repo after movint to wiz repo
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/container-registry-with-proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/container-registry.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/vcs.golden.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/api-tokens-volume-mount.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/cloud.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/onprem.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-outpost.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_node_just-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy-no-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/container-registry-with-proxy.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/container-registry.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/remediation.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/vcs.yaml
  wiz-kubernetes-integration/Chart.lock
  wiz-kubernetes-integration/charts/wiz-admission-controller-3.9.5.tgz
  wiz-kubernetes-integration/charts/wiz-kubernetes-connector-3.3.12.tgz
  wiz-kubernetes-integration/charts/wiz-sensor-1.0.6187.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-network-analyzer/Chart.yaml
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-network-analyzer/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

* added app armor config * moved security context config to helpers * added tests
  .circleci/tests/golden/wiz-outpost-lite/multiple-runners-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/vcs-with-openshift.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/multiple-runners-security-context.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/vcs-with-openshift.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6349.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.88 to 0.2.89
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.89.tgz
Due: none

moved app armor to _helpers
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

changed key to be more clear
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

changed names
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Add EKS Auto Mode system node toleration
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/jobuninstall.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes (#607)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/jobuninstall.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0-preview.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.89 to 0.2.90
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.90.tgz
Due: none

Update charts with latest changes (#608)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
