Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Simplified custom requests and limits
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Simplified labels for hpa
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

Added audit log collector to the mix
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
Due: wiz-admission-controller

Allow to customize the scaling policy behavior
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#419)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.10.22.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.10.22.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.10.22.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/openshift.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4760.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.7.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.7 to 0.2.8
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.8.tgz
Due: none

remove old versions
  index.yaml
Due: none

bump
  wiz-outpost-lite/Chart.yaml
Due: none

bump (#420)
  wiz-outpost-lite/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241027.tgz
Due: none

remove old versions
  index.yaml
  wiz-outpost-lite-2024.07.15.tgz
  wiz-outpost-lite-2024.09.05.tgz
Due: none

Update Chart.yaml
  wiz-outpost-lite/Chart.yaml
Due: none

Update Chart.yaml (#421)
  wiz-outpost-lite/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241028.tgz
Due: none

cronjob
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentmanager.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

comment
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

undo defaultMode: 444
  wiz-admission-controller/templates/deploymentauditlogs.yaml
Due: wiz-admission-controller

fix rolebinding
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

fix values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

remove probes
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/templates/deploymentauditlogs.yaml
Due: wiz-admission-controller

manager service account
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fix error
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

remove from values
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

event creator role
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

fix
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
Due: wiz-admission-controller

fix error
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

Add Horizontal Pod Autoscaling (HPA) support to Wiz AC
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
