Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Remove NET_BIND_SERVICE
  wiz-kubernetes-connector/values.yaml
Due: none

helm: allow specifying clusterExternalId in the unified chart
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

helm: allow specifying clusterExternalId in the unified chart (#320)
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.9.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.95.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.95 to 0.1.96
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.96.tgz
Due: none

Bump version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

Bump version (#321)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.04.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.30-rc.tgz
  index.yaml
Due: none

wiz-managed support for git-proxy
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
Due: git-proxy

Add support for configure PodDisruptionBudget
  wiz-admission-controller/templates/pod-disruption-budget.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Fix
  git-proxy/templates/deployment.yaml
Due: git-proxy

wiz-managed support for git-proxy (#322)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.01.tgz
  index.yaml
Due: none

2024.04.30
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

2024.04.30 (#324)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.04.30.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.30.tgz
  index.yaml
Due: none

version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Admission controller - Add support for configuring PodDisruptionBudget (#323)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/pod-disruption-budget.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.96 to 0.1.97
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.97.tgz
Due: none

WZ-37394: move azure-creds secret part 1
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/azureCreds.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  aks.txt
  aks.v5.txt
  bastion.txt
Due: none

temp
  aks.txt
  aks.v5.txt
  bastion.txt
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3999.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.97 to 0.1.98
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.98.tgz
Due: none

fixup
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  wiz-outpost-configuration/templates/azureWorkerCredentials.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

bump chart version
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: git-proxy

fixup
  git-proxy/templates/deployment.yaml
Due: git-proxy

fixup
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
  git-proxy/values.yaml
Due: git-proxy

fixup
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
Due: git-proxy

Update wiz-outpost-configuration/templates/azureWorkerCredentials.secret.yaml
  wiz-outpost-configuration/templates/azureWorkerCredentials.secret.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
