Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

WZ-30233-trigger-wiz-broker-build
  wiz-broker/Chart.yaml
Due: wiz-broker

WZ-30233-trigger-wiz-broker-build (#345)
  wiz-broker/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.1-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.0.0-preview to 3.0.1-preview
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.1-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.101 to 0.1.102
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.102.tgz
Due: none

Added values.yaml comments for FedRamp endpoints and FIPS images
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker, wiz-admission-controller

Added values.yaml comments for FedRamp endpoints and FIPS images (#346)
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.0.1-preview to 3.0.2-preview
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.102 to 0.1.103
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.103.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.2-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.103 to 0.1.104
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.104.tgz
Due: none

WZ-30233-fix-target-ip
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

WZ-30233-fix-target-ip (#347)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.2-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.3-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.0.3-preview to 3.0.4-preview
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.104 to 0.1.105
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.4-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.105 to 0.1.106
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.106.tgz
Due: none

Publish a stable version of wiz-outpost-configuration
  wiz-outpost-configuration/Chart.yaml
Due: none

Publish a stable version of wiz-outpost-configuration (#348)
  wiz-outpost-configuration/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.05.21.tgz
Due: none

Admission controller - Add cacheImagePullSecretsInterval & ignoreMissingSecretError flags
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

comments
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - Add cacheImagePullSecretsInterval & ignoreMissingSecretError flags (#350)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4152.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.106 to 0.1.107
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.107.tgz
Due: none

never fail pre-delete hook
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none
