Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Add patchImageDigestAnnotation option
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Add empty dir volume for TUF and ECR caches (#183)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.35 to 0.1.36
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.36.tgz
Due: none

CR
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Add patchImageDigestAnnotation option (#184)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.36 to 0.1.37
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.37.tgz
Due: none

Change default value for networkPolicy.ingress.enabled
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Change default value for networkPolicy.ingress.enabled (#186)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.37 to 0.1.38
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.38.tgz
Due: none

Revert "Change default value for networkPolicy.ingress.enabled (#186)"
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Revert "Change default value for networkPolicy.ingress.enabled (#186)" (#187)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.38 to 0.1.39
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.39.tgz
Due: none

Add support for extra manifests such as externalsecrets
  wiz-kubernetes-integration/templates/extra-manifests.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

Revert "Revert "Change default value for networkPolicy.ingress.enabled (#186)" (#187)"
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

.
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2670.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.39 to 0.1.40
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.40.tgz
Due: none

Upgrade flux
  flux2/values.yaml
Due: flux2

Upgrade flux (#190)
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2023.08.21.tgz
  index.yaml
Due: none

SM version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

SM version (#192)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.09.12.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.09.12.tgz
  index.yaml
Due: none

Change default value for networkPolicy.ingress.enabled (#189)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.40 to 0.1.41
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.41.tgz
Due: none

cert-manager ca support
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

cr
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
