Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241217.tgz
Due: none

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update golden files
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
Due: none

Update version (#489)
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.12.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.12.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.12.30-rc.tgz
Due: none

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#490)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.12.30.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.12.30.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.12.30.tgz
Due: none

WZ-43338 - added Wiz Network Troubleshooting tool
  wiz-network-analyzer/.helmignore
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/NOTES.txt
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/templates/secret-proxy.yaml
  wiz-network-analyzer/templates/secrets-wiz-api-token.yaml
  wiz-network-analyzer/templates/service-account-cluster-reader.yaml
  wiz-network-analyzer/values.yaml
Due: none

WZ-17021 - Control concurrency in chart
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update version (#492)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2025.01.03-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2025.01.03-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.01.03-rc.tgz
Due: none

Update version (#495)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2025.01.03.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2025.01.03.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.01.03.tgz
Due: none

WZ-17021 - Control concurrency in chart (#494)
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

WZ-17021 - Add ability to control termination grace period
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

WZ-17021 - Add ability to control termination grace period (#493)
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.5429.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.37.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.37 to 0.2.38
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.38.tgz
Due: none

Added unit tests
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-outpost.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer.yaml
Due: none

Add support for passing Outpost ID (via --outpost-id)
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/values.yaml
Due: none

Added CA support
  wiz-network-analyzer/templates/NOTES.txt
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/templates/secret-ca.yaml
  wiz-network-analyzer/templates/secret-proxy.yaml
  wiz-network-analyzer/values.yaml
Due: none

WZ-43338 - added Wiz Network Troubleshooting tool (#491)
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-outpost.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.golden.yaml
  .circleci/tests/golden/wiz-network-analyzer/wiz-network-analyzer.golden.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-ca-from-secret.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-connect-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-outpost.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer-transparent-proxy.yaml
  .circleci/tests/testfiles/wiz-network-analyzer/wiz-network-analyzer.yaml
  wiz-network-analyzer/.helmignore
  wiz-network-analyzer/Chart.yaml
  wiz-network-analyzer/templates/NOTES.txt
  wiz-network-analyzer/templates/_helpers.tpl
  wiz-network-analyzer/templates/job-network-analyzer.yaml
  wiz-network-analyzer/templates/secret-ca.yaml
  wiz-network-analyzer/templates/secret-proxy.yaml
  wiz-network-analyzer/templates/secrets-wiz-api-token.yaml
  wiz-network-analyzer/templates/service-account-cluster-reader.yaml
  wiz-network-analyzer/values.yaml
Due: none
