Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12323.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.73.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12324.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.74.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
Due: flux2, git-proxy, wiz-sensor

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.9.14.tgz
Due: none

wiz-sensor: allow overriding pod dnsConfig
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2026.9.17.tgz
  index.yaml
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.9.22.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.9.22.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.9.22.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.9.22.tgz
Due: none

docs: Mention install method via OCI-based registry
  README.md
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentdebug.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-4.0.3.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12447.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.76.tgz
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2026.9.29.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.9.29.tgz
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20260930.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/crds/helm-controller.crds.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2026.9.30.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-4.0.7.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.77.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12448.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.78.tgz
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/values.yaml
Due: git-proxy, wiz-sensor

CircleCI: Upload git-proxy chart
  git-proxy-2026.10.5.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.10.5.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12603.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.79.tgz
Due: none
