Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Nitzanzuler/wz 20463 kubernetes cluster cleanup (#123)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.4.tgz
Due: none

First version
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/.helmignore
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/NOTES.txt
  wiz-kubernetes-integration/templates/_helpers.tpl
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

support by ac + small fixes
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

fast push
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

fast push
  wiz-kubernetes-connector/Chart.yaml
Due: none

k8s create connector - don't sleep if broker isn't enabled (#128)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.5.tgz
Due: none

Update values.yaml
  flux2/values.yaml
Due: flux2

Update Chart.yaml
  flux2/Chart.yaml
Due: flux2

Update values.yaml (#129)
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.83.0.tgz
  index.yaml
Due: none

Update Chart.yaml (#130)
  flux2/Chart.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.84.0.tgz
  index.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

change imagePullPolicy from IfNotPresent to {{ .Values.image.pullPolicy }} (#131)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.6.tgz
Due: none

Fix tests
  .circleci/continue_config.yml
  .circleci/tests/charts_test.go
Due: none

Fix rollme annotations
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

add test file
  .circleci/tests/testfiles/wiz-kubernetes-integration.yaml
Due: none

.
  wiz-kubernetes-integration/Chart.yaml
Due: none

Fix circle
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/package_index.sh
  .circleci/update_chart_version.sh
Due: none

Test circle
  .circleci/continue_config.yml
Due: none

fix
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
Due: none

small fix
  wiz-kubernetes-connector/values.yaml
Due: none

Fix test
  .circleci/tests/charts_test.go
Due: none

Fix condition
  .circleci/continue_config.yml
Due: none

Fix path
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
Due: none

Versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

.
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

revert test checks
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
Due: none

Fix proxy issue
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/proxy.yaml
Due: wiz-admission-controller

Fix cr
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/templates/_helpers.tpl
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

Add caCertificate
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

Fix comment
  wiz-kubernetes-integration/values.yaml
Due: none

change all secrets to string data
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
Due: wiz-admission-controller

Bump helm controller
  flux2/values.yaml
Due: flux2
