Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

v2024.07.16
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

v2024.07.16 (#366)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.07.16.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.07.16.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.07.16.tgz
Due: none

Fix chart name + bump
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/values.yaml
Due: none

bump
  wiz-outpost-lite/values.yaml
Due: none

Add outpost env var
  wiz-outpost-lite/templates/deployment.yaml
Due: none

Fix runner to work properly (#367)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-2024.07.15.tgz
Due: none

Bump
  wiz-outpost-lite/values.yaml
Due: none

Bump (#368)
  wiz-outpost-lite/values.yaml
Due: none

Bump + add env vars
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Bump + add env vars (#369)
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Don't install the second service if the release name is already git proxy
  git-proxy/templates/service.yaml
Due: git-proxy

Don't install the second service if the release name is already git proxy (#370)
  git-proxy/templates/service.yaml
Due: git-proxy

Bump tag
  wiz-outpost-lite/values.yaml
Due: none

Bump tag (#371)
  wiz-outpost-lite/values.yaml
Due: none

set namesapce env
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-kubernetes-connector/Chart.lock
  wiz-kubernetes-connector/charts/wiz-broker-2.0.2-preview.tgz
Due: wiz-admission-controller

undo
  wiz-kubernetes-connector/Chart.lock
  wiz-kubernetes-connector/charts/wiz-broker-2.0.2-preview.tgz
Due: none

set namesapce env (#372)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.7.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.114 to 0.1.115
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.115.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4334.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.115 to 0.1.116
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.116.tgz
Due: none

Work around Kubernetes connector Job creation with Istio
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

ExtendVisibility fix
  wiz-outpost-lite/values.yaml
Due: none

ExtendVisibility fix (#374)
  wiz-outpost-lite/values.yaml
Due: none

Make sure broker uses glboal common labels
  wiz-broker/templates/_helpers.tpl
Due: wiz-broker

include also in values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

Ensure wiz-broker uses global common labels (#375)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.5-preview.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
