Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

v2023.10.25 (#217)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.10.25.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.10.25.tgz
  index.yaml
Due: none

WZ-33398
  flux2/templates/source-controller.yaml
Due: flux2

WZ-33398 (#218)
  flux2/templates/source-controller.yaml
Due: flux2

Update values.yaml
  git-proxy/values.yaml
Due: git-proxy

Update values.yaml (#219)
  git-proxy/values.yaml
Due: git-proxy

Fixing typos
  git-proxy/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: git-proxy, wiz-admission-controller

Fixing typos (#220)
  git-proxy/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: git-proxy, wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.3.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.52 to 0.1.53
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.53.tgz
Due: none

Quote common labels in all cases
  wiz-admission-controller/templates/_helpers.tpl
  wiz-broker/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-integration/templates/_helpers.tpl
Due: wiz-broker, wiz-admission-controller

WZ-32330: Add wiz-outpost-config chart
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/.helmignore
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
Due: none

WZ-32330: Add wiz-outpost-config chart (#222)
  wiz-outpost-configuration/.helmignore
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

WZ-32330: deploy wiz-outpost-configuration chart
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

WZ-32330: deploy wiz-outpost-configuration chart (#223)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

WZ-32330: trigger wiz-outpost-configuration chart
  wiz-outpost-configuration/Chart.yaml
Due: none

WZ-32330: trigger wiz-outpost-configuration chart (#224)
  wiz-outpost-configuration/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2023.11.01.tgz
Due: none

Update versions
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Quote common labels in all cases (#225)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/_helpers.tpl
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.13.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.3.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.54.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.54 to 0.1.55
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.55.tgz
Due: none

New version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New version (#226)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.11.03.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.11.03.tgz
  index.yaml
Due: none

Admission Controller policy assignment based on projects - helm chart upgrade
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/.DS_Store
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-admission-controller

fast push
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

fast push
  wiz-kubernetes-connector/.DS_Store
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
