Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

changed wiz kubernetes connector brokerhash helper
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

changed rollme annotations
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

changed wiz-kubernetes-connector chart version
  wiz-kubernetes-connector/Chart.yaml
Due: none

new line
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Wz 28156 change wiz kubernetes connector rollme (#176)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.3.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.31 to 0.1.32
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.32.tgz
Due: none

changed jobs to use stable names
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

added chart version
  wiz-kubernetes-connector/Chart.yaml
Due: none

changed jobs to use stable names (#177)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.3.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.32 to 0.1.33
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.33.tgz
Due: none

added annotations support in service account modify connector
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
Due: none

upgraded wiz kubernetes connector chart version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Fix Azure china
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

added 2 different types of annotations
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

added annotations support in service account modify connector (#178)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.3.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.33 to 0.1.34
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.34.tgz
Due: none

Done
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update chart version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Exposing health server port (#179)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.34 to 0.1.35
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.35.tgz
Due: none

Bump broker image version
  wiz-broker/Chart.yaml
Due: wiz-broker

Bump broker image version (#180)
  wiz-broker/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.7.tgz
Due: none

Support storage account private endpoints (#175)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2023.08.22.tgz
  index.yaml
Due: none

add-broker-outpostid
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

add-broker-outpostid (#181)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.8.tgz
Due: none

fix outpost id
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

fix outpost id (#182)
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

Add empty dir volume for TUF and ECR caches
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
