Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

changed to modules simplified logic
  .circleci/tests/testfiles/wiz-outpost-lite/remediation-special-security-context.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update values.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_wizApiClientVolumeMounts.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

add wiz-sensor codeowner
  .github/CODEOWNERS
Due: none

Update charts with latest changes (#579)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_wizApiClientVolumeMounts.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.7.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.8.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.9.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.11.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.76 to 0.2.77
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.77.tgz
Due: none

add wiz-sensor codeowner (#580)
  .github/CODEOWNERS
Due: none

Added wizApiTokensVolumeMount to global
  .circleci/tests/testfiles/wiz-kubernetes-integration/api-tokens-volume-mount.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

Bumped chart version
  wiz-kubernetes-integration/Chart.yaml
Due: none

Added wizApiTokensVolumeMount to global (#581)
  .circleci/tests/testfiles/wiz-kubernetes-integration/api-tokens-volume-mount.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.78.tgz
Due: none

Added wizApiTokensVolumeMount to sensor
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Exclude clientEndpoint when not needed
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

WZ-62986 - Add namespace to serviceaccount - Add openshift to values.yaml - Add SecurityContextConstraints - Modify deployment to use "privileged: true" when installing on openshift
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/openshift.yaml
  wiz-outpost-lite/templates/serviceaccount.yaml
  wiz-outpost-lite/values.yaml
Due: none

switch values.yaml runners.container-registry.enabled back to false
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6051.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.78 to 0.2.79
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.79.tgz
Due: none

delete crap
  .DS_Store
Due: none

git ignore
  .gitignore
Due: none

Remove .DS_Store (#584)
  .DS_Store
  .gitignore
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes (#585)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.79 to 0.2.80
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.80.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

Update charts with latest changes (#586)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0-preview.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.80 to 0.2.81
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.81.tgz
Due: none

remove wiz-admission-controller-3.10.0-preview.tgz
  wiz-admission-controller-3.10.0-preview.tgz
Due: none

remove wiz-admission-controller-3.10.0-preview.tgz (#588)
  wiz-admission-controller-3.10.0-preview.tgz
Due: none
