Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.11.tgz
Due: none

Add priorityclassname to admission controller
  .gitignore
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

New self managed version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New self managed version (#202)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.09.28.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.09.28.tgz
  index.yaml
Due: none

Update wiz-admission-controller/values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

New SM version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New SM version (#203)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.10.02.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.10.02.tgz
  index.yaml
Due: none

Patch version increment per review
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Moved annotations under with statement
  wiz-admission-controller/templates/certmanager.yaml
Due: wiz-admission-controller

Minor version bump
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Add priorityclassname to admission controller (#201)
  .gitignore
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.2.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.44 to 0.1.45
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.45.tgz
Due: none

Delete default value for priorityClassName
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Delete default value for priorityClassName (#204)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.2.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.45 to 0.1.46
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.46.tgz
Due: none

New SM version 2023.10.04
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New SM version 2023.10.04 (#205)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.10.04.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.10.04.tgz
  index.yaml
Due: none

bump
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Create self signed certificate with cert-manager #197 (#198)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.46 to 0.1.47
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.3.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.47.tgz
Due: none

Add cert subject and extend cert duration to 10 years
  wiz-admission-controller/templates/certmanager.yaml
Due: wiz-admission-controller

Add cert subject and extend cert duration to 10 years (#206)
  wiz-admission-controller/templates/certmanager.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.47 to 0.1.48
  wiz-kubernetes-integration/Chart.yaml
Due: none

Bump version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.48.tgz
Due: none

Bump version (#207)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.3.1.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
