Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.24 to 0.2.25
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.25.tgz
Due: none

Test: Verify push settings
  .gitignore
Due: none

Improve Charts tests + add ACK to values.yaml
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .idea/runConfigurations/Update_golden_files.xml
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

fix
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
Due: none

revert chart version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Improve Charts tests + add ACK to values.yaml (#455)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .idea/runConfigurations/Update_golden_files.xml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.25 to 0.2.26
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.26.tgz
Due: none

publish-chart-releasebot/WZ-33923/publish-chart-23560
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

add clusterDisplayName global that will apply to both connector and sensor
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

revert changes to wiz-sensor - need to change in gerrit
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

revert changes to wiz-sensor - need to change in gerrit
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/.helmignore
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.5145.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.26 to 0.2.27
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.27.tgz
Due: none

tests - refactor UTs so dependencies will come from local files instead of downloading from the actual repo
  .circleci/tests/charts_test.go
  .circleci/tests/go.sum
  .circleci/tests/golden/wiz-kubernetes-integration/cloud.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/onprem.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/wiz-kubernetes-integration/cloud.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/onprem.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update golden files
  .circleci/tests/golden/wiz-kubernetes-integration/cloud.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/onprem.golden.yaml
Due: none

Update golden files
  .circleci/tests/golden/wiz-kubernetes-integration/cloud.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/onprem.golden.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

WZ-17021 - Outpost lite RDE prep
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

WZ-17021 - Outpost lite RDE prep (#458)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241204.tgz
Due: none

small CR fixes + disable integration tests until CI is fixed
  .circleci/tests/charts_test.go
  .circleci/tests/golden/wiz-kubernetes-integration/cloud.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/onprem.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
Due: none

WZ-37107 add global clusterDisplayName and propagate to both connector and sensor + UT fixes (#457)
  .circleci/tests/charts_test.go
  .circleci/tests/go.sum
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/wiz-kubernetes-integration/cloud.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/onprem.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.27 to 0.2.28
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.28.tgz
Due: none

Add metrics port to deployment
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/service.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update values.yaml
  wiz-outpost-lite/values.yaml
Due: none

Add metrics port to deployment (#460)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/service.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241205.tgz
Due: none

Disable metrics until next week
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Disable metrics until next week (#461)
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
