Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Add kubernetes connector chart
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-kubernetes-connector/.helmignore
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-broker.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Add kubernetes connector chart (#59)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-kubernetes-connector/.helmignore
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-broker.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.0.0.tgz
Due: none

Fix notes
  wiz-broker/templates/NOTES.txt
Due: wiz-broker

Change default and fix if
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/values.yaml
Due: wiz-broker

Refactor code so as the broker pod does not use the default service account (#61)
  wiz-broker/Chart.yaml
  wiz-broker/templates/NOTES.txt
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-0.2.3.tgz
Due: none

Bugfix: fix proxy secret name
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: none

update version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Bugfix: fix proxy secret name (#63)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.0.1.tgz
Due: none

Add helm labels to all resources
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
Due: wiz-admission-controller

Add get permission to autoCreateConnector job for connectorSecretName
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
Due: none

Update app version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Add helm labels to all resources (#64)
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.6.tgz
Due: none

Fix circleci package_and_index_charts workflow
  .circleci/continue_config.yml
Due: none

triggers
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

check pipeline
  .circleci/continue_config.yml
Due: none

Revert "triggers"
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Revert "check pipeline"
  .circleci/continue_config.yml
Due: none

Wz 21833 fix package_and_index_charts workflow (#65)
  .circleci/continue_config.yml
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.7.tgz
Due: none

Fix circleci package_and_index_charts workflow - 2
  .circleci/continue_config.yml
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Fix circleci package_and_index_charts workflow - 2 (#66)
  .circleci/continue_config.yml
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.8.tgz
Due: none

Fix circleci package_and_index_charts workflow - 3
  .circleci/continue_config.yml
  .circleci/package_index.sh
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

test
  .circleci/continue_config.yml
  .circleci/package_index.sh
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
Due: none

Revert "test"
  .circleci/continue_config.yml
  .circleci/package_index.sh
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Fix circleci package_and_index_charts workflow - 3 (#67)
  .circleci/continue_config.yml
  .circleci/package_index.sh
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.9.tgz
Due: none
