Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
Due: flux2, git-proxy, wiz-sensor

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.4.20.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.4.20.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.4.20.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.4.20.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10343.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.33.tgz
Due: none

Delete .idea/runConfigurations directory (#672)
  .idea/runConfigurations/Run_helm_tests.xml
  .idea/runConfigurations/Update_golden_files.xml
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/values.yaml
Due: git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload git-proxy chart
  git-proxy-2026.4.23.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-3.0.4.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.12.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10715.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-4.0.5.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.34.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.13-preview.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10716.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.35.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.13-preview.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.36.tgz
Due: none

fix(openshift): replace SCC users field with explicit RBAC binding
  wiz-outpost-lite/templates/openshift.yaml
  wiz-sensor/templates/openshift.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10778.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.37.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.13.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.38.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/httpProxyConfiguration.fluxNamespace.secret.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.5.3.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10779.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.39.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.14.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.40.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10850.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.41.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/fluxNamespace.namespace.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.fluxNamespace.secret.yaml
  wiz-outpost-configuration/templates/outpostController.fluxNamespace.rbac.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
