Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, uri-test-chart

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^uri-test-chart/.* uri-test-chart true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Cleanup
  README.md
Due: none

Fix Readme
  README.md
Due: none

Cleanup x2
  .circleci/config.yml
Due: none

Delete old file
  .circleci/tests/testfiles/uri-test-chart.yaml
Due: none

Fix Readme (#49)
  README.md
Due: none

Create CNAME
  CNAME
Due: none

Added GPLv3 License
  LICENSE
Due: none

Added GPLv3 License (#50)
  LICENSE
Due: none

Add infra to sensor chart
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add circle ignore
  .circleci/config.yml
Due: none

Add infra to sensor chart (#51)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add test file for sensor
  .circleci/continue_config.yml
  .circleci/tests/testfiles/wiz-sensor.yaml
Due: none

Add test file for sensor (#52)
  .circleci/continue_config.yml
  .circleci/tests/testfiles/wiz-sensor.yaml
Due: none

Refactor code so as the broker pod does not use the default service account
  wiz-broker/Chart.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

- Keep rbac service account, under key rbacServiceAccount - update wiz-rbac.yaml template to reference the new service account
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

Update values.yaml
  git-proxy/values.yaml
Due: git-proxy

Update values.yaml (#54)
  git-proxy/values.yaml
Due: git-proxy

Fix package flow
  .circleci/continue_config.yml
  .circleci/package_index.sh
Due: none

New line and trigger
  .circleci/package_index.sh
  git-proxy/values.yaml
Due: git-proxy

Fix script
  .circleci/package_index.sh
Due: none

Fix package flow (#55)
  .circleci/continue_config.yml
  .circleci/package_index.sh
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-0.0.16.tgz
  index.yaml
Due: none

Add default rbac service account name in _helpers.tpl per feedback
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-rbac.yaml
Due: wiz-broker

Update wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/_helpers.tpl
Due: wiz-broker

Add default name for service account
  wiz-broker/values.yaml
Due: wiz-broker

formatting yaml correctly
  wiz-broker/values.yaml
Due: wiz-broker

Add the ability to inject environment variables
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

Add the ability to inject environment variables (#56)
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

WZ-19774 Updated deploy key for charts
  .circleci/continue_config.yml
Due: none

WZ-19774 Updated deploy key for charts (#57)
  .circleci/continue_config.yml
Due: none

WZ-19774 Updated deploy key for charts file name
  .circleci/continue_config.yml
Due: none

WZ-19774 Updated deploy key for charts file name (#58)
  .circleci/continue_config.yml
Due: none

Roll the admission controller deployment for secrets changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

Add specific roll me
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

Roll the admission controller deployment for secrets changes (#60)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.5.tgz
Due: none
