Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.2.1.tgz
Due: none

Change default port for GKE private clusters (#79)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.2.2.tgz
Due: none

Update values.yaml
  git-proxy/values.yaml
Due: git-proxy

Update values.yaml (#82)
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-0.0.16.tgz
  index.yaml
Due: none

Add values for podCustomEnvironmentVariablesFile and custom volumes
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

ac
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-admission-controller

Versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

fixup
  git-proxy/templates/secret.yaml
Due: git-proxy

fixup 2
  git-proxy/templates/secret.yaml
Due: git-proxy

Add UTs
  .circleci/tests/charts_test.go
  .circleci/tests/go.sum
  .circleci/tests/testfiles/git-proxy_azure-workload-idnetity.yaml
  git-proxy/templates/secret.yaml
Due: git-proxy

fixup
  .circleci/tests/testfiles/git-proxy_azure-workload-idnetity.yaml
Due: none

sync forks for alibaba (#84)
  git-proxy/values.yaml
Due: git-proxy

Add validation for api server endpoint
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Fix cr
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Kubernetes connector - Add validation for api server endpoint (#85)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.2.2.tgz
Due: none

Add hostNetwork to wiz-admission-controller helm chart
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

update helm version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Add hostNetwork to wiz-admission-controller helm chart (#86)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.2.3.tgz
Due: none

Update app version
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

oss retry
  git-proxy/values.yaml
Due: git-proxy

Update git-proxy with consecutive crash logic
  git-proxy/values.yaml
Due: git-proxy

Update git-proxy with consecutive crash logic (#89)
  git-proxy/values.yaml
Due: git-proxy

oss logger
  git-proxy/values.yaml
Due: git-proxy

oss logger (#90)
  git-proxy/values.yaml
Due: git-proxy

more fix
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
Due: git-proxy

Change resources values
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

update broker deployment
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

update wiz envs
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

Update broker deployment (#87)
  git-proxy/values.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: git-proxy

Update versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

v
  wiz-kubernetes-connector/Chart.yaml
Due: none
