Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Add dedicated service for GRPC communication with predictable name (#336)
  git-proxy/templates/service.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.20.tgz
  index.yaml
Due: none

2024.05.21-rc
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

2024.05.21-rc (#337)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.05.21-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.21-rc.tgz
  index.yaml
Due: none

Bump wiz-outpost-configuration
  wiz-outpost-configuration/Chart.yaml
Due: none

Restore flux
  flux2/values.yaml
Due: flux2

Bump flux versions (#338)
  flux2/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.05.21-rc.tgz
Due: none

Add http port
  git-proxy/templates/service.yaml
Due: git-proxy

Add http port (#339)
  git-proxy/templates/service.yaml
Due: git-proxy

Finalize 2024.05.21
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Finalize 2024.05.21 (#340)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.05.21.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.21.tgz
  index.yaml
Due: none

WZ-37394: wiz-outpost-configuration: Add service account creation
  wiz-outpost-configuration/templates/serviceaccount.yaml
  wiz-outpost-configuration/values.yaml
Due: none

fixup
  wiz-outpost-configuration/Chart.yaml
Due: none

WZ-37394: wiz-outpost-configuration: Add service account creation (#341)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/serviceaccount.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.05.26-rc.tgz
Due: none

Fix outpost agent deployment
  git-proxy/templates/deployment.yaml
Due: git-proxy

Fix outpost agent deployment (#342)
  git-proxy/templates/deployment.yaml
Due: git-proxy

WZ-30233-merge-broker-charts
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-connector/templates/service-account-broker.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

remove wizConnector redundancy
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

fix wiz-api-token-template
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

add parent secrets
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

WZ-30233-merge-broker-charts (#326)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
  wiz-kubernetes-connector/templates/service-account-broker.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.0-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.100 to 0.1.101
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.101.tgz
Due: none

WZ-30233-update-ci-job
  .circleci/continue_config.yml
Due: none

update when cond
  .circleci/continue_config.yml
Due: none

add skip comment
  .circleci/continue_config.yml
Due: none

fix typo
  .circleci/continue_config.yml
Due: none

WZ-30233-update-ci-job (#344)
  .circleci/continue_config.yml
Due: none
