Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Remove obsolete field (#294)
  flux2/Chart.yaml
  flux2/templates/sync.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.03.20.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/proxysecret.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3828.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.90 to 0.1.91
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.91.tgz
Due: none

Bump version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Bump version (#295)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.03.21-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.03.21-rc.tgz
  index.yaml
Due: none

Allow installation in Restricted namespace
  wiz-kubernetes-connector/values.yaml
Due: none

ClusterReader Fine Grained Access Control
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Remove RC
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Remove RC (#298)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.03.21.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.03.21.tgz
  index.yaml
Due: none

Support new docker image
  git-proxy/templates/deployment.yaml
Due: git-proxy

Bump version
  git-proxy/Chart.yaml
Due: git-proxy

Bump chart version
  git-proxy/Chart.yaml
Due: git-proxy

Update values.yaml
  flux2/values.yaml
Due: flux2

Update values.yaml (#301)
  flux2/values.yaml
Due: flux2

Update values.yaml (#300)
  flux2/values.yaml
Due: flux2

Update Chart.yaml
  flux2/Chart.yaml
Due: flux2

Update Chart.yaml (#302)
  flux2/Chart.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.03.31.tgz
  index.yaml
Due: none

Fix chart
  git-proxy/templates/deployment.yaml
Due: git-proxy

Support new image format (#299)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.03.31.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3891.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.91 to 0.1.92
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.92.tgz
Due: none

kubernetes-integration: bump sensor min version and chart
  wiz-kubernetes-integration/Chart.yaml
Due: none

kubernetes-integration: bump sensor min version and chart (#306)
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.93.tgz
Due: none

v2024.04.04
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

v2024.04.04 (#307)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy
