Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.54 to 0.2.55
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.55.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_resources.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#534)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.6-preview.8.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.19.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.11-preview.10.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.55 to 0.2.56
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.56.tgz
Due: none

Update Chart.yaml
  wiz-broker/Chart.yaml
Due: wiz-broker

Preview - add global.wiz-kubernetes-connector.resources section that controls the resources of all wiz-broker & wiz-kubernetes-connector pods (#537)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_resources.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.1.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.6-preview.9.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.20.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.11-preview.11.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.56 to 0.2.57
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.57.tgz
Due: none

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

Publish wiz-broker 2.2.7 chart version and wiz-kubernetes-connector 3.2.12 chart version
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.7.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.12.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.57 to 0.2.58
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.58.tgz
Due: none

add rollouts resource to admission controller rules
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

WZ-65556 - Enable replicating agent secret
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/agent.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

WZ-65556 - Enable replicating agent secret (#541)
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_node_proxy.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/agent.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.02.12.tgz
Due: none

Update charts with latest changes (#540)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.21.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.58 to 0.2.59
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.59.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Update charts with latest changes (#544)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.13.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.59 to 0.2.60
  wiz-kubernetes-integration/Chart.yaml
Due: none
