Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.93.tgz
Due: none

try new line
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

revert try new line
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
Due: none

remove integration version update
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
Due: none

remove all tests (#614)
  .circleci/continue_config.yml
  .circleci/tests/Taskfile.yml
  .circleci/tests/charts_test.go
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/flux2/flux2.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_service-account.yaml
Due: none

remove integration version update (#622)
  .circleci/continue_config.yml
  .circleci/update_chart_version.sh
Due: none

add namespace to AC PDB template
  wiz-admission-controller/templates/pod-disruption-budget.yaml
Due: wiz-admission-controller

add-tagging-pipeline
  .github/workflows/release.yaml
Due: none

wip
  .github/workflows/release.yaml
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes (#625)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/_helpers.tpl
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.05.18.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes (#626)
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.05.21.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes (#627)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.94.tgz
Due: none

Update charts with latest changes
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

Update charts with latest changes (#628)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250526.tgz
Due: none

create-github-publishing-pipeline
  .github/workflows/release.yaml
  .github/workflows/scripts/get_changed_charts.sh
Due: none

Bump git-proxy chart
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

Bump git-proxy chart (#630)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2025.05.28.tgz
  index.yaml
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

Update charts with latest changes (#632)
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.11.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.14.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.95.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes (#633)
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6816.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.96.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
