Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Simplified custom requests and limits
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Formatting and some refactorings
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Even more super awesome fixes
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

What a great commit
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

More awesome fixes
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Added audit log collector to the mix
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
Due: wiz-admission-controller

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#422)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.10.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.10.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.10.30-rc.tgz
Due: none

istio sidecar
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Add Horizontal Pod Autoscaling (HPA) support to Wiz AC (#418)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.6.1-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.8 to 0.2.9
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.9.tgz
Due: none

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#424)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.10.30.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.10.30.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.10.30.tgz
Due: none

Added comments for HPA related configuration
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Remove redundant comment
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Simplified comments
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Added comments for HPA related configuration (#425)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.9 to 0.2.10
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.10.tgz
Due: none

Added sane defaults for HPA to stabilize the scaling behavior
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Improve comment in values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Formatting fixes
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Added sane defaults for HPA to stabilize the scaling behavior (#426)
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.10 to 0.2.11
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.11.tgz
Due: none

Implement jobPodannotations
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

fix merge
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

use controller.isEnforcerEnabled and inline it
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

fix
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
