Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.2.tgz
Due: none

Admission controller - change alpha version to GA
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Admission controller - change alpha version to GA (#117)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.3.1.tgz
Due: none

Update resources comment in values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update resources comment in values.yaml (#118)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fixups
  .circleci/tests/testfiles/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy_service-account.yaml
  git-proxy/templates/secret.yaml
  git-proxy/templates/serviceaccount.yaml
  git-proxy/values.yaml
Due: git-proxy

git-proxy: add workload identity support (#80)
  .circleci/tests/charts_test.go
  .circleci/tests/go.sum
  .circleci/tests/testfiles/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy_service-account.yaml
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
  git-proxy/templates/serviceaccount.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-0.0.17.tgz
  index.yaml
Due: none

added option for external secret
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Quote labels
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Bump chart version
  wiz-kubernetes-connector/Chart.yaml
Due: none

WZ-27094 Fix proxy secret auto deletion by helm hook
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: none

Fix podCustomEnvironmentVariables
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

WZ-27094 Fix proxy secret auto deletion by helm hook (#122)
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.3.tgz
Due: none

fast push
  wiz-kubernetes-connector/.DS_Store
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Update job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

Update job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Delete .DS_Store
  wiz-kubernetes-connector/.DS_Store
Due: none

fast push
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

fast push
  wiz-kubernetes-connector/values.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

fast push
  wiz-kubernetes-connector/Chart.yaml
Due: none

Update Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/secrets.yaml
Due: none

fast push
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Add perms for namespace
  wiz-kubernetes-connector/.gitignore
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2142.tgz
Due: none

Quote labels (#121)
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
