Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

AC chart revert projects (#236)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.59 to 0.1.60
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.60.tgz
Due: none

Revert "AC chart revert projects (#236)"
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fast push
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

fast push
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Revert "AC chart revert projects" (#237)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.60 to 0.1.61
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.61.tgz
Due: none

WZ-32330: remove httpProxyConfiguration secret from git-proxy (#234)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2023.11.16.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2023.11.01.tgz
Due: none

AC/k8s-connector: support nodeSelector/affinity/tolerations
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

Update versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

AC/k8s-connector: support nodeSelector/affinity/tolerations (#238)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.4.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.62.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.62 to 0.1.63
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.63.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3011.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.63 to 0.1.64
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.64.tgz
Due: none

add projects to comment
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

AC chart - add projects to comment (#240)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.64 to 0.1.65
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.65.tgz
Due: none

rollme
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

rollme (#241)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.65 to 0.1.66
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.66.tgz
Due: none

WZ-32330: git-proxy: add addEnvVars to httpProxyConfiguration
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

done
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
