Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#428)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.11.05-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.11.05-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.11.05-rc.tgz
Due: none

use common args and env
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

Update Chart.yaml
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

Update Chart.yaml (#430)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.6.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.11 to 0.2.12
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.12.tgz
Due: none

update comment
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

AC auto-update (#397)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.0-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.12 to 0.2.13
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.13.tgz
Due: none

fix podCustomEnvironmentVariables indent
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

fix podCustomEnvironmentVariables indent (#431)
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.13 to 0.2.14
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.14.tgz
Due: none

limit cronjob name size to 52
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

limit cronjob name size to 52 (#432)
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.14 to 0.2.15
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.15.tgz
Due: none

Update version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Update version (#433)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.11.05.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.11.05.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.11.05.tgz
Due: none

fix common args
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

fix common args (#434)
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.15 to 0.2.16
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.16.tgz
Due: none

Simplify FedRamp deployment
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-broker, wiz-admission-controller, wiz-sensor

Fixed sensor on-prem disk scanning image
  wiz-broker/values.yaml
  wiz-sensor/templates/_helpers.tpl
Due: wiz-broker, wiz-sensor

Restored Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none
