Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.21 to 0.1.22
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.22.tgz
Due: none

fix: use stable resource names for connector jobs
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2446.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.22 to 0.1.23
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.23.tgz
Due: none

broker-deployment-name
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

broker-deployment-name (#159)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.4.tgz
Due: none

broker-sa-name
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/values.yaml
Due: wiz-broker

broker-sa-name (#160)
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/values.yaml
Due: wiz-broker

add wiz managed broker opt
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

add wiz managed broker opt (#161)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.5.tgz
Due: none

Image integrity alpha version
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

bump charts for new version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

bump charts for new version (#165)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.07.27.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.07.27.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2484.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.23 to 0.1.24
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.24.tgz
Due: none

.
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fixes
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

Fix cr
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

Image integrity alpha version (#164)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.0-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.24 to 0.1.25
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.25.tgz
Due: none

Bump charts
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Bump charts (#166)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.08.13.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.08.13.tgz
  index.yaml
Due: none

bump-broker-image-version
  wiz-broker/Chart.yaml
Due: wiz-broker

bump-broker-image-version (#167)
  wiz-broker/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.6.tgz
Due: none

Add credential-helper flag
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller
