Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-broker/templates/input-validations.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-3.0.0-preview.1.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-4.0.0-preview.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.122.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.09.17.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/crds/source-controller.crds.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRoleBinding.yaml
  wiz-outpost-configuration/templates/outpostController.deployment.yaml
  wiz-outpost-configuration/templates/outpostController.serviceAccount.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/gkeallowlistsynchronizer.yaml
  wiz-sensor/values.yaml
Due: flux2, wiz-sensor

CircleCI: Upload flux2 chart
  flux2-2025.09.16.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.09.18.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.7947.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.123.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.deployment.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2025.09.18.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.09.19.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-4.0.0-preview.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.124.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.11.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.125.tgz
Due: none

Added objectSelector to opawebhook on Wiz Admission Controller
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

allow Deployment to be renamed
  wiz-broker/templates/_helpers.tpl
Due: wiz-broker

fix space
  wiz-broker/templates/_helpers.tpl
Due: wiz-broker

Update charts with latest changes
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20251009.tgz
Due: none

fix(ci): Fix chart packaging race condition
  .circleci/package_index.sh
  .github/workflows/release.yaml
Due: none

copy-exact-snippet-from-the-script-to-prevent-logic-forking
  .github/workflows/release.yaml
Due: none

fix(ci): Fix chart packaging race condition (#657)
  .circleci/package_index.sh
  .github/workflows/release.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/caching-secrets.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/templates/wiz.io_wizadmissioncontrollercaches.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.126.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/caching-secrets.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentdebug.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.127.tgz
Due: none

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2025.10.23.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/caching-secrets.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/clusterRegistrar.job.yaml
  wiz-outpost-configuration/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.10.26.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.3.tgz
Due: none
