Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

cr fix
  git-proxy/templates/secret.yaml
  wiz-outpost-configuration/templates/azureWorkerCredentials.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

WZ-37394: move azure-creds secret part 1 (#270)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/azureWorkerCredentials.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.06.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.05.06.tgz
Due: none

AC performance optimization - updated monitored resources list
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

AC performance optimization - updated monitored resources list (#325)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.98 to 0.1.99
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.99.tgz
Due: none

Update values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3999.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.99 to 0.1.100
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.100.tgz
Due: none

RC version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

RC version (#328)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.05.08-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.08-rc.tgz
  index.yaml
Due: none

Finalize 2024.05.08
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Finalize 2024.05.08 (#329)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.05.08.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.08.tgz
  index.yaml
Due: none

Move agent creds secret to wiz-outpost-configuration
  git-proxy/Chart.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/agent.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

Fix flag
  wiz-outpost-configuration/values.yaml
Due: none

Fix
  wiz-outpost-configuration/templates/agent.secret.yaml
Due: none

Move agent creds secret to wiz-outpost-configuration (#330)
  git-proxy/Chart.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/agent.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.09.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.05.09.tgz
Due: none

These are namespaced as well
  wiz-kubernetes-connector/templates/NOTES.txt
Due: none

Upgrade flux CRDs
  flux2/Chart.yaml
  flux2/crds/helm-controller.crds.yaml
  flux2/crds/kustomize-controller.crds.yaml
  flux2/crds/source-controller.crds.yaml
Due: flux2

Bad line
  git-proxy/Chart.yaml
Due: git-proxy

Bad line
  flux2/Chart.yaml
Due: flux2

Upgrade flux CRDs (#334)
  flux2/Chart.yaml
  flux2/crds/helm-controller.crds.yaml
  flux2/crds/kustomize-controller.crds.yaml
  flux2/crds/source-controller.crds.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.05.16.tgz
  index.yaml
Due: none

Add grpc port
  git-proxy/templates/deployment.yaml
  git-proxy/templates/service.yaml
Due: git-proxy

Bump chart
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

Add GRPC port to git-proxy service (#335)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/service.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.05.20.tgz
  index.yaml
Due: none

Add dedicated service for GRPC communication with predictable name
  git-proxy/templates/service.yaml
Due: git-proxy

Update image tag
  git-proxy/values.yaml
Due: git-proxy
