Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update values.yaml
  flux2/values.yaml
Due: flux2

Update Chart.yaml
  flux2/Chart.yaml
Due: flux2

Revert "Bump flux (#144)"
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Update values.yaml (#148)
  flux2/values.yaml
Due: flux2

Update Chart.yaml (#149)
  flux2/Chart.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.86.1.tgz
  index.yaml
Due: none

Bug with apiTokenSecretName for wiz-kubernetes-connector chart
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Bug with apiTokenSecretName for wiz-kubernetes-connector chart (#151)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.18 to 0.1.19
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.9.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.19.tgz
Due: none

Fix a race between service account and job creation
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
Due: none

Fix a bug with admission controller selector labels
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Wz 22077 Unified chart - small bugfixes (#152)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.0.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.10.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.19 to 0.1.20
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.20.tgz
Due: none

New SM
  flux2/Chart.yaml
Due: flux2

upgrade images
  flux2/values.yaml
Due: flux2

New SM (#153)
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2023.07.11.tgz
  index.yaml
Due: none

Fix annotations
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
Due: none

fix(wiz-kubernetes-connector): fix annotation parameter for wiz api token
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
Due: none

fix(wiz-kubernetes-connector): fix annotation parameter for wiz api token (#155)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secrets-wiz-api-token.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.11.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.20 to 0.1.21
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.21.tgz
Due: none

lookpup
  wiz-kubernetes-connector/templates/secret-connector.yaml
Due: none

delete secret
  wiz-kubernetes-connector/templates/secret-connector.yaml
Due: none

fp
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
Due: none

fp
  wiz-kubernetes-connector/templates/secret-connector.yaml
Due: none

Nitzanz/wz 28701 new connectors are created on every sync of the connector chart (#157)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.12.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
