Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.01.19.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.8834.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.8.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/clusterRegistrar.job.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.01.20.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/templates/aggregate-clusterroles.yaml
  flux2/templates/cluster-reconciler-clusterrolebinding.yaml
  flux2/templates/cluster-reconciler-impersonator-clusterrole.yaml
  flux2/templates/cluster-reconciler-impersonator-clusterrolebinding.yaml
  flux2/templates/crd-controller-clusterrole.yaml
  flux2/templates/crd-controller-clusterrolebinding.yaml
  flux2/templates/helm-controller-sa.yaml
  flux2/templates/helm-controller.yaml
  flux2/templates/image-automation-controller-sa.yaml
  flux2/templates/image-automation-controller.yaml
  flux2/templates/image-reflector-controller-sa.yaml
  flux2/templates/image-reflector-controller.yaml
  flux2/templates/kustomize-controller-sa.yaml
  flux2/templates/kustomize-controller-secret.yaml
  flux2/templates/kustomize-controller.yaml
  flux2/templates/notification-controller-ingress.yaml
  flux2/templates/notification-controller-sa.yaml
  flux2/templates/notification-controller-service.yaml
  flux2/templates/notification-controller-webhook-service.yaml
  flux2/templates/notification-controller.yaml
  flux2/templates/podmonitor.yaml
  flux2/templates/policies.yaml
  flux2/templates/source-controller-service.yaml
  flux2/templates/source-controller-serviceaccount.yaml
  flux2/templates/source-controller.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2026.01.21.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.01.22.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2026.01.26.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/gkeallowlistsynchronizer.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9426.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.9.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.01.28.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.8.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.10.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.clusterRole.yaml
  wiz-outpost-configuration/templates/outpostController.role.yaml
  wiz-outpost-configuration/templates/outpostController.roleBinding.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.02.02.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9427.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.11.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9508.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.12.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.9.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.13.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9526.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.14.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.9527.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.15.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.02.10.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20260213.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
