Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.60.tgz
Due: none

Update charts with latest changes
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#548)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.0-preview.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.0-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.60 to 0.2.61
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.61.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

Update charts with latest changes (#549)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.0-preview.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.61 to 0.2.62
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.62.tgz
Due: none

Use flux internal builds
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Update golden files
  .circleci/tests/golden/flux2/flux2.golden.yaml
Due: none

Change ACR
  .circleci/tests/golden/flux2/flux2.golden.yaml
  flux2/values.yaml
Due: flux2

Use flux internal builds (#550)
  .circleci/tests/golden/flux2/flux2.golden.yaml
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2025.02.16.tgz
  index.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#551)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.0.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.62 to 0.2.63
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.63.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/input-validations.yaml
Due: none

Update charts with latest changes (#552)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/input-validations.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.63 to 0.2.64
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.64.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_debug.tpl
  wiz-common/templates/_hash.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#553)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_debug.tpl
  wiz-common/templates/_hash.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/job-refresh-token.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.2.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.1.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.64 to 0.2.65
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.65.tgz
Due: none
