Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

fix
  .circleci/continue_config.yml
Due: none

add comment
  .circleci/tests/golden.go
Due: none

fix helm repo add
  .circleci/continue_config.yml
  .circleci/tests/helm_repository_test.go
Due: none

some refactors
  .circleci/tests/custom_values_charts_test.go
  .circleci/tests/default_values_charts_test.go
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/helm_repository_test.go
Due: none

renames
  .circleci/tests/custom_values_charts_test.go
  .circleci/tests/default_values_charts_test.go
Due: none

rename manager and audit log - use fullname as a prefix
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

renames
  .circleci/tests/custom_values_charts_test.go
  .circleci/tests/default_values_charts_test.go
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/custom_values/flux2.yaml
  .circleci/tests/testfiles/custom_values/git-proxy.yaml
  .circleci/tests/testfiles/custom_values/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/custom_values/git-proxy_service-account.yaml
  .circleci/tests/testfiles/custom_values/wiz-admission-controller.yaml
  .circleci/tests/testfiles/custom_values/wiz-broker.yaml
  .circleci/tests/testfiles/custom_values/wiz-kubernetes-connector.yaml
  .circleci/tests/testfiles/custom_values/wiz-kubernetes-integration.yaml
  .circleci/tests/testfiles/custom_values/wiz-sensor.yaml
Due: none

use wiz-admission-controller-enforcer.name as AC enforcer deployment name
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/pod-disruption-budget.yaml
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

fix
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

rename manager and audit log - use fullname as a prefix (#438)
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/pod-disruption-budget.yaml
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.0-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.19 to 0.2.20
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.20.tgz
Due: none

3.7.0 remove preview
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

chart version to env vars
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

chart version to env vars (#440)
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.20 to 0.2.21
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.21.tgz
Due: none

Add wiz helm chart version env var
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

fixes to values.yaml
  flux2/values.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-outpost-lite/values.yaml
  wiz-sensor/values.yaml
Due: flux2, wiz-broker, wiz-admission-controller, wiz-sensor

some fixes
  .circleci/tests/default_values_charts_test.go
  .circleci/tests/golden/default/flux2.golden.yaml
  .circleci/tests/golden/default/git-proxy.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-broker.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-lite.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .gitignore
Due: none

fixes
  .circleci/tests/custom_values_charts_test.go
  .circleci/tests/golden/custom/flux2/flux2.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/custom/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/custom/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/custom/wiz-sensor.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/custom_values/wiz-admission-controller.yaml
  .circleci/tests/testfiles/custom_values/wiz-broker.yaml
  .circleci/tests/testfiles/custom_values/wiz-sensor.yaml
  .circleci/tests/testfiles/flux2/flux2.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_service-account.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller.yaml
  .circleci/tests/testfiles/wiz-broker/wiz-broker.yaml
  .circleci/tests/testfiles/wiz-kubernetes-connector/wiz-kubernetes-connector.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/wiz-kubernetes-integration.yaml
Due: none

fixes
  .circleci/tests/values.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
Due: none

add taskfile
  .circleci/tests/Taskfile.yml
Due: none

Discard memory utilization for HPA
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

move to another package
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/golden/custom/flux2/flux2.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/custom/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/custom/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/custom/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
Due: none

remove unused
  .circleci/tests/helm_repository_suite_test.go
Due: none

remove install helm
  .circleci/continue_config.yml
Due: none

Discard memory utilization for HPA (#442)
  wiz-admission-controller/templates/hpa.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.21 to 0.2.22
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.22.tgz
Due: none

gitignore
  .gitignore
Due: none

add runConfigs
  .gitignore
  .idea/runConfigurations/Run_helm_tests.xml
  .idea/runConfigurations/Update_golden_files.xml
Due: none

PR fixes
  .circleci/tests/charts_test.go
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
Due: none

Add UTs for helm charts with golden files (#437)
  .circleci/continue_config.yml
  .circleci/tests/Taskfile.yml
  .circleci/tests/charts_test.go
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-broker/wiz-broker.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/flux2/flux2.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_service-account.yaml
  .circleci/tests/testfiles/wiz-admission-controller.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller.yaml
  .circleci/tests/testfiles/wiz-broker.yaml
  .circleci/tests/testfiles/wiz-broker/wiz-broker.yaml
  .circleci/tests/testfiles/wiz-kubernetes-connector/wiz-kubernetes-connector.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/wiz-kubernetes-integration.yaml
  .circleci/tests/testfiles/wiz-sensor.yaml
  .gitignore
  .idea/runConfigurations/Run_helm_tests.xml
  .idea/runConfigurations/Update_golden_files.xml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor
