Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.7.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.7.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.32 to 0.2.33
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.33.tgz
Due: none

WZ-59890: wiz-outpost-configuration, outpost-lite: fix transparent proxy support (just CA)
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

fixup
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.yaml
Due: none

WZ-59890: wiz-outpost-configuration, outpost-lite: fix transparent proxy support (just CA) (#479)
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.golden.yaml
  .circleci/tests/golden/wiz-outpost-configuration/wiz-outpost-configuration_proxy.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_just-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy-no-ca-cert.yaml
  .circleci/tests/testfiles/wiz-outpost-configuration/wiz-outpost-configuration_proxy.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.12.17.tgz
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241217.tgz
Due: none

WZ-17021 - add component name to all outpost wiz components
  .circleci/tests/charts_test.go
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  git-proxy/templates/deployment.yaml
Due: git-proxy

WZ-17021 - add component name to all outpost wiz components (#480)
  .circleci/tests/charts_test.go
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  git-proxy/templates/deployment.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.11.05.tgz
  index.yaml
Due: none

Update values.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update values.yaml | WZ-59890
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes (#483)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.8.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.33 to 0.2.34
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.34.tgz
Due: none

WZ-17021 - Add runner based deployment template
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/service.yaml
  wiz-outpost-lite/values.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

Update charts with latest changes (#485)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/cronjobmanager.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.9.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.34 to 0.2.35
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.35.tgz
Due: none

Update charts with latest changes
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#486)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.4.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.10.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.35 to 0.2.36
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.8.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.36.tgz
Due: none

Update charts with latest changes
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Update charts with latest changes (#487)
  .circleci/tests/golden/wiz-kubernetes-connector/wiz-kubernetes-connector.golden.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.9.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.36 to 0.2.37
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.37.tgz
Due: none

Initial support for short-lived tokens
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-rotation.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

WZ-17021 - Add runner based deployment template (#484)
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/service.yaml
  wiz-outpost-lite/values.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
