Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.13.5-preview.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.66.tgz
Due: none

feat(wiz-admission-controller): per-component affinity/nodeSelector/tolerations
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
Due: git-proxy, wiz-sensor

CircleCI: Upload git-proxy chart
  git-proxy-2026.8.24.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.8.24.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12125.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.67.tgz
Due: none

test(wiz-admission-controller): golden-file suite for per-component scheduling
  wiz-admission-controller/.helmignore
  wiz-admission-controller/tests/golden/README.md
  wiz-admission-controller/tests/golden/_base.values.yaml
  wiz-admission-controller/tests/golden/expected/default.golden.yaml
  wiz-admission-controller/tests/golden/expected/existing-customer.golden.yaml
  wiz-admission-controller/tests/golden/expected/per-component.golden.yaml
  wiz-admission-controller/tests/golden/render-golden.sh
  wiz-admission-controller/tests/golden/scenarios/default.values.yaml
  wiz-admission-controller/tests/golden/scenarios/existing-customer.values.yaml
  wiz-admission-controller/tests/golden/scenarios/per-component.values.yaml
Due: wiz-admission-controller

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy, wiz-admission-controller

CircleCI: Upload git-proxy chart
  git-proxy-2026.8.25.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.8.25.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.13.5.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.68.tgz
Due: none

feat: support Helm tpl rendering for connectorName and clusterExternalId
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-outpost-common/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.8.26.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.8.26.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.8.26.tgz
  index.yaml
Due: none

feat: add seccompProfile RuntimeDefault to default security contexts
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy, wiz-admission-controller

CircleCI: Upload git-proxy chart
  git-proxy-2026.8.31.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.8.31.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-4.0.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.69.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-4.0.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.70.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-4.0.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.71.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.9.6.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.9.6.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.9.6.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.9.6.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.12322.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.72.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
