Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

bump
  wiz-kubernetes-connector/Chart.yaml
Due: none

k8s connector - never fail pre-delete hook (#351)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.5-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.107 to 0.1.108
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.108.tgz
Due: none

Update values.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4199.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.108 to 0.1.109
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.109.tgz
Due: none

2024.06.30
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

2024.06.30 (#354)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.06.30-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.06.30-rc.tgz
  index.yaml
Due: none

Update wiz-outpost-configuration
  wiz-outpost-configuration/Chart.yaml
Due: none

Update wiz-outpost-configuration (#355)
  wiz-outpost-configuration/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.06.30-rc.tgz
Due: none

New RC
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

New RC (#356)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.07.02-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.07.02-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.07.02-rc.tgz
Due: none

2024.07.02
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

2024.07.02 (#357)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.07.02.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.07.02.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.07.02.tgz
Due: none

Created outpost-lite chart
  outpost-lite/.helmignore
  outpost-lite/Chart.yaml
  outpost-lite/templates/_helpers.tpl
  outpost-lite/templates/credentials.secret.yaml
  outpost-lite/templates/deployment.yaml
  outpost-lite/values.yaml
Due: none

Added a check that apiServerEndpoint is set when broker is disabled
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

Added a check that apiServerEndpoint is set when broker is disabled (#359)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.6-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.109 to 0.1.110
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.110.tgz
Due: none

WZ-30233-add-api-secret-name-override
  wiz-broker/templates/_helpers.tpl
  wiz-broker/values.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/templates/_helpers.tpl
Due: wiz-broker

remove global image section
  wiz-kubernetes-integration/values.yaml
Due: none

bump version
  wiz-kubernetes-integration/Chart.yaml
Due: none

bump k8s-connector-chart-version
  wiz-kubernetes-connector/Chart.yaml
Due: none

add local image
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker

WZ-30233-add-api-secret-name-override (#360)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/_helpers.tpl
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.3-preview.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
