Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.0.5.tgz
Due: none

Admission controller - Add podCustomEnvironmentVariables
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

.
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - Add podCustomEnvironmentVariables (#69)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.10.tgz
Due: none

Fix deployment replica count
  wiz-admission-controller/templates/deployment.yaml
Due: wiz-admission-controller

Move image tag to appVersion
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - Fix deployment replica count (#70)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.11.tgz
Due: none

use default policy
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - Use default policy (#73)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-0.0.12.tgz
Due: none

Bump charts
  flux2/values.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

Remove multi arch
  flux2/values.yaml
Due: flux2

Bump charts (#74)
  flux2/values.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-0.80.2.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-0.0.16.tgz
  index.yaml
Due: none

Admission controller - GA version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Update version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Wz 17377 GA version (#75)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.0.0.tgz
Due: none

fix: missing labels in secretServerCert
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

feat(wiz-kubernetes-controller): allow to define annotations on secrets
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

chore(wiz-kubernetes-connector): bump to version `1.1.0`
  wiz-kubernetes-connector/Chart.yaml
Due: none

feat(wiz-admission-controller): allow to define annotations on secrets
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

feat(wiz-broker-controller): allow to define annotations on secrets
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

chore(wiz-broker): bump to version `0.3.0`
  wiz-broker/Chart.yaml
Due: wiz-broker

chore(wiz-admission-controller): bump to version `1.1.0`
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

build(helm-publishing): add a github action to release the helm charts in the oss repo
  .github/workflows/helm.yml
  README.md
Due: none

feat(wiz-kubernetes-connector): allow to specify additional labels
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

chore(wiz-kubernetes-connector): bump to version `1.2.0`
  wiz-kubernetes-connector/Chart.yaml
Due: none

fix(wiz-broker): add the common labels on the tunnel-client secret
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

feat(wiz-broker): allow to specify additional labels
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

chore(wiz-broker): bump to version `0.4.0`
  wiz-broker/Chart.yaml
Due: wiz-broker

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
