Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.81 to 0.1.82
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.82.tgz
Due: none

config probes
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

line
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

order
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

comment
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Expose probes settings (#269)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.13.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.82 to 0.1.83
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.83.tgz
Due: none

WZ-37394: move azure-creds secret part 1
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/azureCreds.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  wiz-outpost-configuration/values.yaml
Due: none

WZ-35110: Add support for custom root CA
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/customRootCA.configMap.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  wiz-outpost-configuration/templates/customRootCA.configMap.yaml
Due: none

fixup
  git-proxy/templates/deployment.yaml
Due: git-proxy

Bump git proxy version
  git-proxy/values.yaml
Due: git-proxy

Bump git proxy version (#272)
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.02.20.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.3492.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.83 to 0.1.84
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.84.tgz
Due: none

fixup + broker support
  git-proxy/templates/deployment.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-outpost-configuration/templates/customRootCA.configMap.yaml
  wiz-outpost-configuration/templates/customRootCA.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy, wiz-broker

fixup
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/caCertificate.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

fixup
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

fixup
  wiz-broker/values.yaml
Due: wiz-broker

Bring inline with wiz-kubernetes-connector
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/caCertificate.secret.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

Reduce flux requests
  flux2/Chart.yaml
  flux2/templates/helm-controller.yaml
  flux2/templates/kustomize-controller.yaml
  flux2/templates/source-controller.yaml
Due: flux2

Reduce flux requests (#274)
  flux2/Chart.yaml
  flux2/templates/helm-controller.yaml
  flux2/templates/kustomize-controller.yaml
  flux2/templates/source-controller.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.03.03.tgz
  index.yaml
Due: none

advance version
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: git-proxy

Reduce CPU requests
  flux2/values.yaml
Due: flux2

Missing file
  flux2/templates/sync.yaml
  flux2/values.yaml
Due: flux2

Remove tests
  flux2/tests/__snapshot__/helm-controller_test.yaml.snap
  flux2/tests/__snapshot__/image-automation-controller_test.yaml.snap
  flux2/tests/__snapshot__/image-reflector-controller_test.yaml.snap
  flux2/tests/__snapshot__/kustomize-controller-secret_test.yaml.snap
  flux2/tests/__snapshot__/kustomize-controller_test.yaml.snap
  flux2/tests/__snapshot__/notification-controller_test.yaml.snap
  flux2/tests/__snapshot__/pre-install-job_test.yaml.snap
  flux2/tests/__snapshot__/source-controller_test.yaml.snap
  flux2/tests/cluster-reconciler-clusterrolebinding_test.yaml
  flux2/tests/cluster-reconciler-impersonator-clusterrole_test.yaml
  flux2/tests/cluster-reconciler-impersonator-clusterrolebinding.yaml
  flux2/tests/extra-manifests_test.yaml
  flux2/tests/helm-controller_test.yaml
  flux2/tests/image-automation-controller_test.yaml
  flux2/tests/image-reflector-controller_test.yaml
  flux2/tests/kustomize-controller-secret_test.yaml
  flux2/tests/kustomize-controller_test.yaml
  flux2/tests/notification-controller_test.yaml
  flux2/tests/pre-install-job_test.yaml
  flux2/tests/source-controller_test.yaml
Due: flux2

WZ-35110: Add support for custom root CA (#271)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.03.04.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.03.04.tgz
Due: none

Wiz comments
  flux2/values.yaml
Due: flux2
