Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload flux2 chart
  flux2-2024.04.04.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.04.tgz
  index.yaml
Due: none

Add outpost agent support
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
Due: git-proxy

RC
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

RC (#309)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.04.14-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.14-rc.tgz
  index.yaml
Due: none

Fix the RC git proxy chart
  git-proxy/values.yaml
Due: git-proxy

Fix the RC git proxy chart (#310)
  git-proxy/values.yaml
Due: git-proxy

Add outpost agent support (#308)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/wizSecret.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.16.tgz
  index.yaml
Due: none

Fix wizSecret
  git-proxy/templates/wizSecret.yaml
Due: git-proxy

Fix wizSecret (#311)
  git-proxy/templates/wizSecret.yaml
Due: git-proxy

Remove redundant encoding
  git-proxy/templates/wizSecret.yaml
Due: git-proxy

Remove redundant encoding (#312)
  git-proxy/templates/wizSecret.yaml
Due: git-proxy

Change env -> ENV
  git-proxy/templates/deployment.yaml
Due: git-proxy

Change env -> ENV (#313)
  git-proxy/templates/deployment.yaml
Due: git-proxy

Publish 2024.04.14
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Publish 2024.04.14 (#314)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.04.14.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.04.14.tgz
  index.yaml
Due: none

Allow for installation of the admission controller webhooks outside of helm hooks (fixes #315)
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Bump source controller
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Bump source controller (#317)
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.04.21.tgz
  index.yaml
Due: none

Improve AC values.yaml documentation (policy/error enforcement)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Improve AC values.yaml documentation (policy/error enforcement) (#318)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.93 to 0.1.94
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.94.tgz
Due: none

Add pod label values
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Wz 42695 - Add pod labels values (#319)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.94 to 0.1.95
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.95.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
