Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Update git proxy
  git-proxy/values.yaml
Due: git-proxy

Update git proxy (#228)
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2023.11.03.tgz
  index.yaml
Due: none

new cluster role
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

fast push
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

Helm chart upgrade - Admission Controller policy assignment based on projects (#227)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.0-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.55 to 0.1.56
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.56.tgz
Due: none

New version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

New version (#229)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.11.07.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.11.07.tgz
  index.yaml
Due: none

Exclude kube-node-lease by default
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update Chart.yaml
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Exclude kube-node-lease by default (#231)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.1-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.56 to 0.1.57
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.57.tgz
Due: none

broker: Allowing configuring mTLS client certificate & private key
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

broker: Allowing configuring mTLS client certificate & private key (#230)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.14.tgz
Due: none

wiz-broker: Fix certificate paths
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

wiz-broker: Fix certificate paths (#232)
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

replce k8sClient with autoEnforcement
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

increment version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

fast push
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

AC chart - change k8sClient to kubernetesApiServer (#233)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.4.2-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.57 to 0.1.58
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.58.tgz
Due: none

WZ-32330: remove httpProxyConfiguration sercret from git-proxy
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2969.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.58 to 0.1.59
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.59.tgz
Due: none

revert
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fixup
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
Due: none

fast push
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller
