Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/apikeysecret.yaml
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/proxysecret.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2280.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.4-alpha to 0.1.5-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

Wiz kubernetes connector - Remove alpha version from
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

Fix
  wiz-kubernetes-integration/Chart.yaml
Due: none

Wiz kubernetes connector - Remove alpha version (#140)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.8.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.6-alpha to 0.1.7-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/apikeysecret.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/proxysecret.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.7-alpha to 0.1.8-alpha
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2304.tgz
Due: none

wiz-kubernetes-integration: add sensor integration
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

wiz-kubernetes-integration: add sensor integration (#139)
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secrets-wiz-api-token.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

Fix helm dependency update to run in package folder
  .circleci/package_index.sh
  .circleci/update_chart_version.sh
  wiz-kubernetes-integration/Chart.yaml
Due: none

Fix helm dependency update to run in package folder (#141)
  .circleci/package_index.sh
  .circleci/update_chart_version.sh
  wiz-kubernetes-integration/Chart.yaml
Due: none

package_index.sh script - Fix getting PACKAGE_VERSION
  .circleci/package_index.sh
Due: none

NL
  wiz-kubernetes-integration/templates/NOTES.txt
Due: none

package_index.sh script - Fix getting PACKAGE_VERSION (#142)
  .circleci/package_index.sh
  wiz-kubernetes-integration/templates/NOTES.txt
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.17-alpha.tgz
Due: none

Update Chart.yaml
  flux2/Chart.yaml
Due: flux2

Bump flux
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Bump flux (#144)
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.86.0.tgz
  index.yaml
Due: none

Update service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
Due: none

Update values.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Release GA version
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Wiz kubernetes integration - Release GA version
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.0.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.17.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.17 to 0.1.18
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.18.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
