Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.1.tgz
Due: none

Change app version to major version with pullPolicy=Always
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

change minor version
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Change app version to major version with pullPolicy=Always (#109)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.2.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.1.0.tgz
Due: none

fix broker tpl
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/values.yaml
Due: wiz-broker

fix broker tpl (#110)
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.2.tgz
Due: none

Admission controller - use ci/cd policy property by default
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update wiz-admission-controller/values.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Add pre-install,pre-upgrade annotations for proxy secret
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: none

Change all secretKeyRef to optional: false
  wiz-admission-controller/templates/deployment.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-admission-controller

Versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Wz 25009 Proxy bugfix (#112)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.2.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.1.1.tgz
Due: none

Alpha version
  wiz-kubernetes-connector/Chart.yaml
Due: none

versions
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Admission controller - use ci/cd policy property by default (#111)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.3.0-alpha.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.0-alpha.tgz
Due: none

Admission controller - Add ingress network policy
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/networkpolicy.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-sensor chart
  wiz-sensor/.helmignore
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/clusterrole.yaml
  wiz-sensor/templates/clusterrolebinding.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/imagepullsecret.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/templates/role.yaml
  wiz-sensor/templates/rolebinding.yaml
  wiz-sensor/templates/secret.yaml
  wiz-sensor/templates/serviceaccount.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2002.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2006.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2019.tgz
Due: none

done
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Wiz kubernetes connector - add podCustomEnvironmentVariables value
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Update version
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2062.tgz
Due: none

Admission controller - Add ingress network policy (#113)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/networkpolicy.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.3.1-alpha.tgz
Due: none

Wiz kubernetes connector - add podCustomEnvironmentVariables value (#115)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.2.1-alpha.tgz
Due: none

http-proxy-fix
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-broker

http-proxy-fix (#116)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: wiz-broker

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
