Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

fix(wiz-admission-controller): add the common labels on the cert secret
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

feat(wiz-admission-controller): allow to specify additional labels
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

chore(wiz-admission-controller): bump to version `1.3.0`
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

feat(wiz-kubernetes-connector): allow to specify additional labels
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

chore(wiz-kubernetes-connector): bump to version `1.2.0`
  wiz-kubernetes-connector/Chart.yaml
Due: none

feat(wiz-broker): allow to specify additional labels
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

fix(wiz-broker): add the common labels on the tunnel-client secret
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

chore(wiz-broker): bump to version `0.4.0`
  wiz-broker/Chart.yaml
Due: wiz-broker

Bugfix: Fix multiple policies for admission controller
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

Revert "use default policy"
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

change to range
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

Magnezi/wz 22731 Fix admission controller multiple policies (#77)
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.0.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.0.6.tgz
Due: none

update version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Update admission controller version (#78)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.0.1.tgz
Due: none

Change default port for GKE private clusters
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Small changes
  wiz-admission-controller/values.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

version
  wiz-broker/Chart.yaml
Due: wiz-broker

Allow to define common labels in charts (#71)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-0.3.0.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.1.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.1.0.tgz
Due: none

Versions
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Allow to define annotations on secrets (#72)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-0.4.0.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.2.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-1.2.0.tgz
Due: none

WZ-21198 - Wiz k8s connector - Add image pull secrets
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

git-proxy: add workload identity support
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/templates/secret.yaml
  git-proxy/templates/serviceaccount.yaml
  git-proxy/values.yaml
Due: git-proxy

WZ-22782 - Wiz Kubernetes Connector - add resources
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

Add nodeSelector, affinity and tolerations
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

WZ-19660 - Wiz admission controller - Add indicative error when deploying an admission controller with an unrecognized policy
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

WZ-21929 - Add namespace to all resources
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
Due: wiz-admission-controller

WZ-21198, WZ-22782, WZ-19660, WZ-21929 (#81)
  .circleci/tests/testfiles/wiz-kubernetes-connector.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/service-account-cluster-reader.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-1.2.1.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
