Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload git-proxy chart
  git-proxy-2026.6.28.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.13.3-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.55.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
Due: flux2, git-proxy, wiz-admission-controller

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.6.29.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.6.29.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.6.29.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.13.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.56.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-outpost-common/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.7.1.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.7.1.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.7.1.tgz
  index.yaml
Due: none

WZ-90730: repoint CI image pulls to pull-ecr (615/wiz) (#680)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.serviceAccount.yaml
  wiz-outpost-configuration/templates/serviceaccount.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.7.5.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: flux2, git-proxy, wiz-sensor

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.7.9.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.7.9.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.7.9.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.7.9.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.11678.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.57.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/values.yaml
Due: flux2, git-proxy, wiz-sensor

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.7.13.tgz
Due: none

Update charts with latest changes
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2026.7.13.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.7.13.tgz
Due: none

add tpl support for clusterDisplayName
  wiz-admission-controller/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-admission-controller, wiz-sensor

fix sensor cluster name if nothing set
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

fix sensor cluster name if nothing set - missed a spot
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.11699.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.59.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/webhook.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.13.4.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.60.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentdebug.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/deploymentsensor.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/openshift.yaml
Due: flux2, git-proxy, wiz-admission-controller

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.7.27.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.7.27.tgz
  index.yaml
Due: none
