Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

remove 3.10.0-preview from index.yaml
  index.yaml
Due: none

Wz 67039 remove wiz admission controller 3.10.0 preview from index yaml (#589)
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/gkeallowlistsynchronizer.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6187.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.81.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.81 to 0.2.82
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.82.tgz
Due: none

Added HTTPS proxy support for Wiz Kubernetes Integration
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
  wiz-kubernetes-integration/values.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_proxy.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#591)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/proxy.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_proxy.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.8.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.9.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0-preview.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.12.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.82 to 0.2.83
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.83.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

Update charts with latest changes (#592)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.0-preview.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.83 to 0.2.84
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.84.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update charts with latest changes (#593)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.84 to 0.2.85
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.9.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.85.tgz
Due: none

WZ-62986
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/openshift.yaml
  wiz-outpost-lite/templates/serviceaccount.yaml
  wiz-outpost-lite/values.yaml
Due: none

fix test
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
Due: none

no "
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
Due: none

WZ-62986 (#594)
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/openshift.yaml
  wiz-outpost-lite/templates/serviceaccount.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250204.tgz
Due: none

Rmove jobuninstall from charts
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

Rmove jobuninstall from charts (#595)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/jobuninstall.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.9.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.85 to 0.2.86
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.86.tgz
Due: none

remove admission 3.9.3 from gh-pages
  index.yaml
  wiz-admission-controller-3.9.3.tgz
Due: none

remove version 3.9.3 from gh-pages
  index.yaml
  wiz-admission-controller-3.9.3.tgz
Due: none

remove version 3.9.3 from gh-pages (#597)
  index.yaml
  wiz-admission-controller-3.9.3.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
