Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.48 to 0.1.49
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.49.tgz
Due: none

Update broker image
  wiz-kubernetes-connector/Chart.yaml
Due: none

Update broker image (#208)
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.4.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.49 to 0.1.50
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.50.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/clusterrole.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2823.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.50 to 0.1.51
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.51.tgz
Due: none

WZ-32330: Add http configuration as git-proxy secret
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/templates/secret.yaml
  git-proxy/values.yaml
Due: git-proxy

fixup
  git-proxy/templates/httpProxyConfiguration.secret.yaml
Due: git-proxy

fixup
  git-proxy/templates/deployment.yaml
  git-proxy/templates/httpProxyConfiguration.secret.yaml
Due: git-proxy

Bump flux
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Bump flux (#210)
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.10.17.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.10.17.tgz
  index.yaml
Due: none

WZ-32330: Add http configuration as git-proxy secret (#209)
  git-proxy/templates/deployment.yaml
  git-proxy/templates/httpProxyConfiguration.secret.yaml
  git-proxy/templates/secret.yaml
  git-proxy/values.yaml
Due: git-proxy

Broker target IP comment
  wiz-kubernetes-connector/values.yaml
Due: none

Fix daemonset pod annotations
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

v2023.10.22
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

v2023.10.22 (#213)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2023.10.22.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2023.10.22.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.2864.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.51 to 0.1.52
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.52.tgz
Due: none

wiz-broker: Take TLS verification skip and CA certificate out of HTTP proxy configuration
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

wiz-broker: Take TLS verification skip and CA certificate out of HTTP proxy configuration (#214)
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.11.tgz
Due: none

wiz-broker: Bump version
  wiz-broker/Chart.yaml
Due: wiz-broker

wiz-broker: Bump version (#215)
  wiz-broker/Chart.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.12.tgz
Due: none

wiz-broker: Fix skip TLS env value
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

wiz-broker: Fix skip TLS env value (#216)
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

v2023.10.25
  flux2/Chart.yaml
  git-proxy/Chart.yaml
Due: flux2, git-proxy

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
