Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Removed the fed registries from the values.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/values.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/values.yaml
Due: wiz-broker, wiz-admission-controller, wiz-sensor

Bumped Chart versions
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker

Update wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/_helpers.tpl
Due: wiz-broker

Reverted sensor changes
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Simplify FedRamp deployment (#429)
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.2.0.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.16.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.16 to 0.2.17
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.2.0 to 3.2.1
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.17 to 0.2.18
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.18.tgz
Due: none

Added default fedramp endpoint for FedRamp scenarios
  wiz-admission-controller/templates/_helpers.tpl
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
Due: wiz-broker, wiz-admission-controller

Use global image tag in wiz-broker image
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

bump chart version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Use global image tag in wiz-broker image (#436)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.2.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.18 to 0.2.19
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.19.tgz
Due: none

wip
  .circleci/tests/charts_test.go
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/golden.go
  .circleci/tests/golden/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/wiz-sensor.golden.yaml
  .circleci/tests/test1_test.go
  .circleci/tests/values.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-sensor/values.yaml
Due: wiz-admission-controller, wiz-sensor

seems to work
  .circleci/tests/golden.go
  .circleci/tests/golden/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/wiz-sensor.golden.yaml
  .circleci/tests/test1_test.go
  wiz-kubernetes-integration/values.yaml
Due: none

fixes
  .circleci/tests/golden.go
  .circleci/tests/golden/custom/flux2.golden.yaml
  .circleci/tests/golden/custom/git-proxy.golden.yaml
  .circleci/tests/golden/custom/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/custom/wiz-sensor.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
  .circleci/tests/test1_test.go
Due: none

fixes
  .circleci/tests/charts_test.go
  .circleci/tests/golden/default/flux2.golden.yaml
  .circleci/tests/golden/default/git-proxy.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-broker.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-configuration.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-lite.golden.yaml
  .circleci/tests/test1_test.go
  flux2/values.yaml
  wiz-broker/values.yaml
  wiz-outpost-lite/values.yaml
Due: flux2, wiz-broker

remove common
  .circleci/tests/golden.go
  .circleci/tests/golden/default/flux2.golden.yaml
  .circleci/tests/golden/default/git-proxy.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-broker.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-lite.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
Due: none

run with redacted
  .circleci/tests/golden/default/flux2.golden.yaml
  .circleci/tests/golden/default/git-proxy.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-broker.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/default/wiz-outpost-lite.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
Due: none

replace more
  .circleci/tests/golden.go
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
Due: none

add also gitignore
  .gitignore
Due: none

fixes
  .circleci/tests/golden.go
  .circleci/tests/golden/custom/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/custom/wiz-sensor.golden.yaml
  .circleci/tests/golden/default/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/default/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
  .circleci/tests/helm_repository_test.go
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
  wiz-sensor/values.yaml
Due: wiz-admission-controller, wiz-sensor

fixes
  .circleci/tests/go.mod
  .circleci/tests/go.sum
Due: none

add comment
  .circleci/tests/golden.go
Due: none

fixes
  .circleci/tests/golden/custom/flux2.golden.yaml
  .circleci/tests/golden/custom/git-proxy.golden.yaml
  .circleci/tests/golden/custom/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/custom/wiz-broker.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-connector.golden.yaml
  .circleci/tests/golden/custom/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/golden/custom/wiz-sensor.golden.yaml
Due: none

fix golang
  .circleci/continue_config.yml
Due: none

try install helm
  .circleci/continue_config.yml
Due: none

run with latest helm
  .circleci/tests/golden/custom/wiz-sensor.golden.yaml
  .circleci/tests/golden/default/wiz-sensor.golden.yaml
Due: none

store test results
  .circleci/continue_config.yml
Due: none

fixes
  .circleci/tests/golden/custom/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/custom/git-proxy_service-account.golden.yaml
  .circleci/tests/helm_repository_test.go
Due: none

add the repo
  .circleci/continue_config.yml
Due: none
