Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

remove-double-check
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

one-is-enough
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

bump-minor
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

cert-manager ca support (#193)
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.41 to 0.1.42
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.42.tgz
Due: none

bump 3.1.4 -> 3.1.5
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

bump 3.1.4 -> 3.1.5 (#194)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.42 to 0.1.43
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.43.tgz
Due: none

fix
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

bump
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Gals/fix (#195)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.1.6.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.43 to 0.1.44
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.44.tgz
Due: none

add-ca-certificate
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

add-ca-certificate (#191)
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.9.tgz
Due: none

add broker custom port
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

update chart version
  wiz-broker/Chart.yaml
Due: wiz-broker

add broker custom port (#196)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.10.tgz
Due: none

Test
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/certmanager.yaml
Due: wiz-admission-controller

teset
  wiz-admission-controller/templates/_helpers.tpl
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

test
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Done
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Update version
  wiz-broker/Chart.yaml
Due: wiz-broker

add quote to target port
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

Fix broker port (#199)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker
