Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.128.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.deployment.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.10.27.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/wiz.io_wizadmissioncontrollercaches.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset-windows.yaml
  wiz-sensor/values.yaml
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20251027.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.4.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.8204.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.129.tgz
Due: none

fix(ci): This is a duplicate with no retries
  .github/workflows/release.yaml
Due: none

fix(ci): This is a duplicate with no retries (#658)
  .github/workflows/release.yaml
Due: none

Update wiz-admission-controller charts
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/caching-secrets.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/NOTES.txt
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/caching-secrets.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.5.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.130.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0-preview.6.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.131.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.10.28.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.132.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.10.29.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/outpostController.deployment.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.11.05.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.1-preview.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.8313.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.133.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.8327.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.134.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.11.11.tgz
Due: none

Update openshift.yaml to fix openshift deployment issues
  wiz-sensor/templates/openshift.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/values.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/credentials.secret.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/encryption.secret.yaml
  wiz-outpost-lite/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-lite/templates/openshift.yaml
  wiz-outpost-lite/templates/service.yaml
  wiz-outpost-lite/templates/serviceaccount.yaml
  wiz-outpost-lite/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/openshift.yaml
Due: wiz-sensor

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.11.14.tgz
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20251115.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.8399.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.135.tgz
Due: none
