Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

Fix
  flux2/crds/DONTDELETE.md
  flux2/crds/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  flux2/crds/source.toolkit.fluxcd.io_gitrepositories.yaml
  flux2/templates/source-controller.crds.yaml
  flux2/templates/sync.yaml
Due: flux2

WZ-35110: wiz-broker: add caCert support to http proxy
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

Restore the 2024.02.20 charts
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

Restore the 2024.02.20 charts (#277)
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.02.20.tgz
  index.yaml
Due: none

Revert "Restore the 2024.02.20 charts (#277)"
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

Revert "Restore the 2024.02.20 charts (#277)" (#278)
  git-proxy/Chart.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.03.04.tgz
  index.yaml
Due: none

Move the CRDs to crd
  flux2/crds/helm-controller.crds.yaml
  flux2/crds/image-automation-controller.crds.yaml
  flux2/crds/kustomize-controller.crds.yaml
  flux2/crds/notification-controller.crds.yaml
  flux2/crds/source-controller.crds.yaml
  flux2/crds/source.toolkit.fluxcd.io_gitrepositories.yaml
  flux2/templates/image-reflector-controller.crds.yaml
Due: flux2

Add CRD
  flux2/crds/image-reflector-controller.crds.yaml
Due: flux2

Fix CRDs
  flux2/crds/helm-controller.crds.yaml
  flux2/crds/image-automation-controller.crds.yaml
  flux2/crds/image-reflector-controller.crds.yaml
  flux2/crds/kustomize-controller.crds.yaml
  flux2/crds/notification-controller.crds.yaml
  flux2/crds/source-controller.crds.yaml
Due: flux2

KDR
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentk8sauditlogs.yaml
  wiz-admission-controller/templates/networkpolicy.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

remove policies for kdr
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

kdr
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fix
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentk8sauditlogs.yaml
Due: wiz-admission-controller

fix
  wiz-admission-controller/templates/networkpolicy.yaml
Due: wiz-admission-controller

kdr
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fix service name in kdr webhook
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

version + env WIZ_UPLOAD_BACKEND_STORAGE
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
Due: wiz-admission-controller

add new service to cert
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

kdr filter resources
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

cr fix
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
Due: wiz-admission-controller

Update wiz-admission-controller/Chart.yaml
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

add replicationcontroller to kdr webhook values
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

add resources
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

add pods/attach
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

fix and add resources
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

wiz-admission-controller-audit-logs-collector
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

KDR chart (#280)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.0-alpha.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.84 to 0.1.85
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.85.tgz
Due: none

ac - remove alpha
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

move
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Change chart images to wiz
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.03.05.tgz
  index.yaml
Due: none

Remove flux pre install job
  flux2/templates/pre-install-job-serviceaccount.yaml
  flux2/templates/pre-install-job.yaml
Due: flux2

Remove flux pre install job (#283)
  flux2/templates/pre-install-job-serviceaccount.yaml
  flux2/templates/pre-install-job.yaml
Due: flux2
