Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Add autoUpdate flag (#402)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20240930.tgz
Due: none

Flux 2.4
  flux2/Chart.yaml
  flux2/crds/source-controller.crds.yaml
  flux2/values.yaml
Due: flux2

Flux 2.4 (#406)
  flux2/Chart.yaml
  flux2/crds/source-controller.crds.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-2024.10.6.tgz
  index.yaml
Due: none

Migrate the flux CR to git proxy chart
  flux2/values.yaml
  git-proxy/templates/sync.yaml
  git-proxy/values.yaml
Due: flux2, git-proxy

busybox image should use the same repository as gitproxy image
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

busybox image should use the same repository as gitproxy image (#407)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.10.06.tgz
  index.yaml
Due: none

Flux namespace
  git-proxy/templates/sync.yaml
  git-proxy/values.yaml
Due: git-proxy

Fix hostpathCopier tag
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
Due: git-proxy

v2024.10.08
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

v2024.10.08 (#410)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.10.08-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.10.08-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.10.08-rc.tgz
Due: none

rename version port to status port
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

undo replica set
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

manager deployment
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentmanager.yaml
  wiz-admission-controller/templates/serviceaccount.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

bump minor
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

remove watch
  wiz-admission-controller/templates/serviceaccount.yaml
Due: wiz-admission-controller

remove preview tag from all charts now that components are published
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

autp update args
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentmanager.yaml
Due: wiz-admission-controller

create manager only in auto upadte enabled
  wiz-admission-controller/templates/deploymentmanager.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

bump app version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

remove preview tag from all charts now that components are published (#411)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.1.0.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.6.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.1.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.1.0 to 3.1.1
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.2 to 0.2.3
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.1.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.3 to 0.2.4
  wiz-kubernetes-integration/Chart.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
