Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

3.7.0 remove preview (#439)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

fix golden files
  .DS_Store
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  flux2/.DS_Store
Due: flux2

undo flux2/.DS_Store
  flux2/.DS_Store
Due: flux2

remove tests
  .circleci/tests/golden/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/wiz-kubernetes-integration.yaml
Due: none

fix golden files (#443)
  .DS_Store
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  .circleci/tests/golden/wiz-kubernetes-integration/wiz-kubernetes-integration.golden.yaml
  .circleci/tests/testfiles/wiz-kubernetes-integration/wiz-kubernetes-integration.yaml
Due: none

trigger ac and sensor
  wiz-admission-controller/.helmignore
  wiz-sensor/.helmignore
Due: wiz-admission-controller, wiz-sensor

trigger ac and sensor (#444)
  wiz-admission-controller/.helmignore
  wiz-sensor/.helmignore
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.0.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4945.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.22 to 0.2.23
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.23.tgz
Due: none

delete ds store
  .DS_Store
Due: none

delete ds store (#445)
  .DS_Store
Due: none

Revert "Simplify FedRamp deployment (#429)"
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker, wiz-admission-controller

Trim whitespaces
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

truncate name with full suffix
  .DS_Store
  wiz-admission-controller/.helmignore
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

rm .DS_Store
  .DS_Store
Due: none

golden
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller-overridelongname.yaml
Due: none

Fixed missing tolerations values for wiz-broker
  wiz-broker/values.yaml
Due: wiz-broker

Added coalesce for wiz-broker chart
  wiz-broker/templates/wiz-broker-deployment.yaml
Due: wiz-broker

Disable the Wiz manager
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

truncate name with full suffix (#448)
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/wiz-admission-controller-overridelongname.yaml
  wiz-admission-controller/.helmignore
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.1.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.23 to 0.2.24
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.24.tgz
Due: none

Add proxy config for outpost lite configuration
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

Add newline
  wiz-outpost-lite/values.yaml
Due: none

Add proxy config for outpost lite configuration (#450)
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20241125.tgz
Due: none

Fixed HPA enabling condition for audit log collector
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/hpa.yaml
Due: wiz-admission-controller

Fixed HPA enabling condition for audit log collector (#451)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/hpa.yaml
Due: wiz-admission-controller

Added tests for hpa
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/audit-log-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/hpa-enabled.yaml
Due: none

Added tests for hpa (#452)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/testfiles/wiz-admission-controller/audit-log-enabled.yaml
  .circleci/tests/testfiles/wiz-admission-controller/hpa-enabled.yaml
Due: none

Bump AC version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Bump AC version (#453)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Bump AC version (+golden)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Bump AC version (+golden) (#454)
  .circleci/tests/golden/wiz-admission-controller/audit-log-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/hpa-enabled.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller-overridelongname.golden.yaml
  .circleci/tests/golden/wiz-admission-controller/wiz-admission-controller.golden.yaml
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.7.4.tgz
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
