Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

Remdiate vulnerabilities in .circleci/tests/go.mod
  .circleci/tests/go.mod
Due: none

WZ-52411: Outpost: Agent: fix support for Cert CA
  git-proxy/templates/deployment.yaml
  wiz-outpost-lite/templates/deployment.yaml
Due: git-proxy

Add version bump
  git-proxy/Chart.yaml
  wiz-outpost-lite/Chart.yaml
Due: git-proxy

WZ-52411: Outpost: Agent: fix support for Cert CA (#386)
  git-proxy/Chart.yaml
  git-proxy/templates/deployment.yaml
  wiz-outpost-lite/Chart.yaml
  wiz-outpost-lite/templates/deployment.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-2024.09.05.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-2024.09.05.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/templates/openshift.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4413.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.123 to 0.1.124
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.124.tgz
Due: none

support graceful termination
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

RC
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

RC (#389)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.09.10-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.09.10-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.09.10-rc.tgz
Due: none

cr fix
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

v2024.10.12
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

v2024.10.12 (#390)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  git-proxy/values.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.09.12-rc.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.09.12-rc.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.09.12-rc.tgz
Due: none

Finalize version
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

Finalize version (#391)
  flux2/Chart.yaml
  git-proxy/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload flux2 chart
  flux2-2024.09.12.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2024.09.12.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2024.09.12.tgz
Due: none

env WIZ_TERMINATION_GRACE_PERIOD
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
Due: wiz-admission-controller

helm charts - add subscription ID, subscription tags, cluster tags for onprem installations
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

support graceful termination (#388)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.9.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.124 to 0.1.125
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.125.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4423.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.125 to 0.1.126
  wiz-kubernetes-integration/Chart.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
