Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

fix(wiz-kubernetes-connector): split hook annotations on modify-connector RBAC for ArgoCD compatibility
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-admission-controller, wiz-sensor

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.11.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10315.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.25.tgz
Due: none

Revert: Remove wiz-admission-controller 3.12.11
  index.yaml
  wiz-admission-controller-3.12.11.tgz
Due: none

Revert wiz-admission-controller version to 3.12.11-preview
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Revert: Remove wiz-admission-controller 3.12.11 (#669)
  index.yaml
  wiz-admission-controller-3.12.11.tgz
Due: none

Revert wiz-admission-controller version to 3.12.11-preview (#670)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Revert kubernetes integration to require 3.12.0
  wiz-kubernetes-integration/Chart.yaml
Due: none

bump version
  wiz-kubernetes-integration/Chart.yaml
Due: none

fix wiz-admission-controller
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Revert wiz-admission-controller registry mapping (#671)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-admission-controller

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-admission-controller, wiz-sensor

Delete .idea/runConfigurations directory
  .idea/runConfigurations/Run_helm_tests.xml
  .idea/runConfigurations/Update_golden_files.xml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.12.12-preview.tgz
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10340.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.29.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10341.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.30.tgz
Due: none

Update charts with latest changes
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/job-delete-connector.yaml
  wiz-kubernetes-connector/templates/service-account-modify-connector.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-4.0.4.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.31.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-outpost-common/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/values.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.4.9.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.4.9.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.4.9.tgz
  index.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2026.4.9.tgz
Due: none

Migrate CircleCI config to self-hosted runners
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Migrate CircleCI config to self-hosted runners (#673)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.10342.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.3.32.tgz
Due: none

Update charts with latest changes
  flux2/Chart.yaml
  flux2/values.yaml
  git-proxy/Chart.yaml
  wiz-outpost-common/Chart.yaml
Due: flux2, git-proxy

CircleCI: Upload wiz-outpost-common chart
  index.yaml
  wiz-outpost-common-2026.4.16.tgz
Due: none

CircleCI: Upload flux2 chart
  flux2-2026.4.16.tgz
  index.yaml
Due: none

CircleCI: Upload git-proxy chart
  git-proxy-2026.4.16.tgz
  index.yaml
Due: none
