Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Upload flux2 chart
  flux2-2024.03.05.tgz
  index.yaml
Due: none

ac - remove alpha (#282)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.0.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.85 to 0.1.86
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.86.tgz
Due: none

add resources and fix deployment selector
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

move --- after the if
  wiz-admission-controller/templates/opawebhook.yaml
Due: wiz-admission-controller

add roles resource
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

AC: KDR add resources and fix deployment selector (#284)
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/certmanager.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/templates/opawebhook.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

3.5.1
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.86 to 0.1.87
  wiz-kubernetes-integration/Chart.yaml
Due: none

Wz 29132 bump (#285)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.87.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.87 to 0.1.88
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.88.tgz
Due: none

Bump version after publish
  wiz-admission-controller/Dockerfile
Due: wiz-admission-controller

Publish chart
  wiz-admission-controller/Dockerfile
Due: wiz-admission-controller

remove private preview
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

remove private preview (#288)
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.88 to 0.1.89
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.89.tgz
Due: none

Allow disabling the rollme annotation
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

Allow disabling the rollme annotation (#281)
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.20.tgz
Due: none

create service if hook enabled
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

line
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

bump
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Create service only if hook enabled (#289)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/service.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.2.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.89 to 0.1.90
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.90.tgz
Due: none

Publish chart
  wiz-broker/Chart.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

Publish chart
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/service.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Remove obsolete field
  flux2/templates/sync.yaml
Due: flux2

Bump chart version
  flux2/Chart.yaml
Due: flux2
