Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

v
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Wz 22875 Flag Names Update + Custom Volumes and Env Files Support (#83)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/_helpers.tpl
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/templates/secret.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.0.0.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.0.0.tgz
Due: none

Update wiz-broker logic to match wiz-connector-creator
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

Update version
  wiz-kubernetes-connector/Chart.yaml
Due: none

Update wiz-broker logic to match wiz-connector-creator (#95)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/wiz-broker-deployment.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-2.0.1.tgz
Due: none

Update flux crd
  flux2/crds/source.toolkit.fluxcd.io_gitrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmcharts.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_ocirepositories.yaml
Due: flux2

Sync charts
  flux2/crds/helm.toolkit.fluxcd.io_helmreleases.yaml
  flux2/crds/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  flux2/crds/source.toolkit.fluxcd.io_buckets.yaml
  flux2/crds/source.toolkit.fluxcd.io_gitrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmcharts.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_ocirepositories.yaml
Due: flux2

Bump versions
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Update flux crd (#96)
  flux2/Chart.yaml
  flux2/crds/helm.toolkit.fluxcd.io_helmreleases.yaml
  flux2/crds/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  flux2/crds/source.toolkit.fluxcd.io_buckets.yaml
  flux2/crds/source.toolkit.fluxcd.io_gitrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmcharts.yaml
  flux2/crds/source.toolkit.fluxcd.io_helmrepositories.yaml
  flux2/crds/source.toolkit.fluxcd.io_ocirepositories.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.81.0.tgz
  index.yaml
Due: none

Wiz admission controller - Memory allocations performance issue
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

Revert "Update flux crd (#96)"
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Revert "Update flux crd (#96)" (#98)
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.82.0.tgz
  index.yaml
Due: none

Bump flux to RC
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

Bump flux to RC (#99)
  flux2/Chart.yaml
  flux2/values.yaml
Due: flux2

CircleCI: Upload flux2 chart
  flux2-0.83.0.tgz
  index.yaml
Due: none

fixup
  git-proxy/templates/secret.yaml
Due: git-proxy

Wiz admission controller - Memory allocations performance issue (#97)
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.0.1.tgz
Due: none

refactor broker deployment
  wiz-broker-v2/.helmignore
  wiz-broker-v2/Chart.yaml
  wiz-broker-v2/templates/_helpers.tpl
  wiz-broker-v2/templates/secret-proxy.yaml
  wiz-broker-v2/templates/serviceaccount.yaml
  wiz-broker-v2/templates/wiz-broker-deployment.yaml
  wiz-broker-v2/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/secrets.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: none

review comments
  wiz-broker-v2/.helmignore
  wiz-broker-v2/Chart.yaml
  wiz-broker-v2/templates/_helpers.tpl
  wiz-broker-v2/templates/serviceaccount.yaml
  wiz-broker-v2/templates/wiz-broker-deployment.yaml
  wiz-broker-v2/values.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/NOTES.txt
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secret-proxy.yaml
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/NOTES.txt
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/templates/job-create-connector.yaml
  wiz-kubernetes-connector/templates/service-account-create-connector.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

update wiz-broker chart
  wiz-broker/Chart.yaml
  wiz-broker/templates/NOTES.txt
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

review comments
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
Due: wiz-broker

review comments
  wiz-broker/templates/secrets.yaml
Due: wiz-broker

update wiz-broker chart (#101)
  wiz-broker/Chart.yaml
  wiz-broker/templates/NOTES.txt
  wiz-broker/templates/_helpers.tpl
  wiz-broker/templates/secrets.yaml
  wiz-broker/templates/serviceaccount.yaml
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/templates/wiz-rbac.yaml
  wiz-broker/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-1.0.0.tgz
Due: none

Log Level
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

update minor version
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

update comment
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

Admission controller - set log level (#103)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deployment.yaml
  wiz-admission-controller/values.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-2.1.0.tgz
Due: none

oss-internet-access
  git-proxy/values.yaml
Due: git-proxy

oss-internet-access (#107)
  git-proxy/values.yaml
Due: git-proxy

CircleCI: Upload git-proxy chart
  git-proxy-0.0.16.tgz
  index.yaml
Due: none

fix connector secret
  wiz-broker/Chart.yaml
  wiz-broker/templates/secrets.yaml
Due: wiz-broker

fix connector secret (#108)
  wiz-broker/Chart.yaml
  wiz-broker/templates/secrets.yaml
Due: wiz-broker

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
