Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

WZ-61859-remediation runner
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

WZ-61859-remediation runner (#554)
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250204.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#555)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.3.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.2.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.2.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.3.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.65 to 0.2.66
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.66.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/input-validations.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/input-validations.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#556)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/input-validations.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/input-validations.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/input-validations.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.4.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.3.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.3.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.4.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.66 to 0.2.67
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.67.tgz
Due: none

WZ-17021 - Fix invalid template comment
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

WZ-17021 - Fix invalid template comment (#557)
  wiz-outpost-lite/templates/_helpers.tpl
Due: none

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.5835.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.67 to 0.2.68
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.68.tgz
Due: none

WZ-66609 - fix proxy regression in Wiz K8s Helm Charts
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
Due: none

WZ-66609 - fix proxy regression in Wiz K8s Helm Charts (#558)
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/templates/secret-proxy.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.69.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: wiz-broker, wiz-admission-controller

Publish chart
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
Due: wiz-broker

Fix secret names in notes
  wiz-kubernetes-integration/templates/NOTES.txt
Due: none

Added service accounts for the remediation runners Added some security measures
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/templates/serviceaccount.yaml
Due: none

Update charts with latest changes (#559)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/proxy.yaml
  wiz-broker/Chart.yaml
  wiz-broker/templates/secret-proxy.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/secret-proxy.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.4.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.8.4.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.5.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.69 to 0.2.70
  wiz-kubernetes-integration/Chart.yaml
Due: none
