Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0

executors:
  python:
    docker:
      - image: cimg/python:3.10

setup: true

parameters:
  run_trigger_workflow:
    default: true
    type: boolean

jobs:
  trigger-builds:
    description: Continues a pipeline in the `setup` state based with static config and a set of pipeline parameters based on the changes in this push.
    executor:
      name: python
    parameters:
      base-revision:
        default: origin/master
        description: The revision to compare the current one against for the purpose of determining changed files.
        type: string
      circleci_domain:
        default: circleci.com
        description: The domain of the CircleCI installation - defaults to circleci.com. (Only necessary for CircleCI Server users)
        type: string
      config-path:
        default: .circleci/continue_config.yml
        description: The location of the config to continue the pipeline with.
        type: string
      mapping:
        default: ""
        description: Mapping of path regular expressions to pipeline parameters and values. One mapping per line, whitespace-delimited.
        type: string
      resource_class:
        default: small
        type: string
      parameters-output-path:
        default: /tmp/pipeline-parameters.json
        type: string
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - path-filtering/set-parameters:
                base-revision: << parameters.base-revision >>
                mapping: << parameters.mapping >>
                output-path: << parameters.parameters-output-path >>
      - when:
          condition: 
            not: << pipeline.parameters.run_trigger_workflow >>
          steps:
            - run:
                name: Produce empty parameters.json
                command: echo "{}" > << parameters.parameters-output-path >>
      - continuation/continue:
          circleci_domain: << parameters.circleci_domain >>
          configuration_path: << parameters.config-path >>
          parameters: << parameters.parameters-output-path >>

workflows:
  setup-and-trigger:
    jobs:
      - trigger-builds:
          name: generate config and trigger
          mapping: |
            ^flux2/.* flux2 true
            ^git-proxy/.* git-proxy true
            ^wiz-broker/.* wiz-broker true
            ^wiz-admission-controller/.* wiz-admission-controller true
            ^wiz-sensor/.* wiz-sensor true
          base-revision: << pipeline.git.branch >>
          filters:
            branches:
              ignore:
                - gh-pages

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.90 to 0.2.91
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.91.tgz
Due: none

tmp change
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

CircleCI: Upload wiz-sensor chart
  wiz-kubernetes-integration/Chart.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6440.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.91 to 0.2.92
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.92.tgz
Due: none

CR
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
Due: none

empty annotations
  .circleci/tests/golden/wiz-outpost-lite/multiple-runners-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation.golden.yaml
  wiz-outpost-lite/templates/deployment.yaml
Due: none

zero value
  wiz-outpost-lite/templates/deployment.yaml
Due: none

Outpostlite remediation security changes (#573)
  .circleci/tests/golden/wiz-outpost-lite/multiple-runners-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/remediation-special-security-context.golden.yaml
  .circleci/tests/golden/wiz-outpost-lite/vcs-with-openshift.golden.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/multiple-runners-security-context.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/remediation-special-security-context.yaml
  .circleci/tests/testfiles/wiz-outpost-lite/vcs-with-openshift.yaml
  wiz-outpost-lite/templates/_helpers.tpl
  wiz-outpost-lite/templates/deployment.yaml
  wiz-outpost-lite/values.yaml
Due: none

CircleCI: Upload wiz-outpost-lite chart
  index.yaml
  wiz-outpost-lite-0.1.20250204.tgz
Due: none

Update charts with latest changes
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

Update charts with latest changes (#611)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-common/Chart.yaml
  wiz-common/templates/_require_helm_version.tpl
  wiz-kubernetes-connector/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-common chart
  index.yaml
  wiz-common-0.1.9.tgz
Due: none

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.3.10.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.10.1.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.3.13.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.92 to 0.2.93
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.93.tgz
Due: none

remove all tests
  .circleci/tests/Taskfile.yml
  .circleci/tests/charts_test.go
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/helm_repository_suite_test.go
  .circleci/tests/testfiles/flux2/flux2.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_service-account.yaml
  wiz-admission-controller/Chart.lock
  wiz-admission-controller/charts/wiz-common-0.1.8.tgz
  wiz-kubernetes-integration/Chart.lock
  wiz-kubernetes-integration/charts/wiz-admission-controller-3.10.0.tgz
  wiz-kubernetes-integration/charts/wiz-kubernetes-connector-3.3.12.tgz
  wiz-kubernetes-integration/charts/wiz-sensor-1.0.6440.tgz
Due: wiz-admission-controller

remove all tests
  .circleci/tests/golden/flux2/flux2.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_azure-workload-idnetity.golden.yaml
  .circleci/tests/golden/git-proxy/git-proxy_service-account.golden.yaml
  .circleci/tests/testfiles/flux2/flux2.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_azure-workload-idnetity.yaml
  .circleci/tests/testfiles/git-proxy/git-proxy_service-account.yaml
Due: none

Update charts with latest changes
  flux2/values.yaml
  git-proxy/values.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: flux2, git-proxy

remove all UTs
  .circleci/continue_config.yml
  .circleci/tests/Taskfile.yml
  .circleci/tests/charts_test.go
  .circleci/tests/go.mod
  .circleci/tests/go.sum
  .circleci/tests/helm_repository_suite_test.go
Due: none

remove all UTs
  .circleci/continue_config.yml
Due: none

remove requirement
  .circleci/continue_config.yml
Due: none

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

Update charts with latest changes (#615)
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/Chart.yaml
  wiz-outpost-configuration/templates/httpProxyConfiguration.secret.yaml
  wiz-outpost-configuration/values.yaml
Due: none

CircleCI: Upload wiz-outpost-configuration chart
  index.yaml
  wiz-outpost-configuration-2025.04.29.tgz
Due: none

Update charts with latest changes
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

Update charts with latest changes (#617)
  wiz-kubernetes-integration/Chart.yaml
  wiz-outpost-configuration/templates/networkAnalyzer.job.yaml
  wiz-outpost-configuration/templates/nodeHttpProxyConfiguration.gcp.ubuntu.yaml
  wiz-outpost-configuration/values.yaml
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/_helpers.tpl
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.6572.tgz
Due: none
