Repository wiz-sec/charts: changes, and which CircleCI parameters are due for each by the changed paths.
All: parameters.mapping=>>, flux2, git-proxy, wiz-broker, wiz-admission-controller, wiz-sensor

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.132 to 0.1.133
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.133.tgz
Due: none

retrigger broken charts to get them pushed
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

retrigger broken charts to get them pushed (#399)
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.0.8-preview.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.5.11.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.19-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-connector chart patch version from 3.0.19-preview to 3.0.20-preview
  wiz-kubernetes-connector/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.134.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.134 to 0.1.135
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.135.tgz
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.0.20-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.1.135 to 0.1.136
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.1.136.tgz
Due: none

helm charts - add subscription ID, subscription tags, cluster tags for onprem installations (#393)
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-admission-controller

bump minor of all affected components
  wiz-admission-controller/Chart.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: wiz-broker, wiz-admission-controller

bump minor of all affected components
  wiz-admission-controller/Chart.yaml
Due: wiz-admission-controller

bump minor of all affected components
  wiz-kubernetes-integration/Chart.yaml
Due: none

bump minor of all affected components
  wiz-kubernetes-connector/Chart.yaml
Due: none

WZ-37107 customer tags attempt 3 - bump the chart minor + set preview flag for pre-release (#396)
  wiz-admission-controller/Chart.yaml
  wiz-admission-controller/templates/deploymentauditlogs.yaml
  wiz-admission-controller/templates/deploymentenforcement.yaml
  wiz-admission-controller/values.yaml
  wiz-broker/Chart.yaml
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-connector/templates/_helpers.tpl
  wiz-kubernetes-connector/values.yaml
  wiz-kubernetes-integration/Chart.yaml
  wiz-kubernetes-integration/values.yaml
Due: wiz-broker, wiz-admission-controller

CircleCI: Upload wiz-broker chart
  index.yaml
  wiz-broker-2.1.0-preview.tgz
Due: none

CircleCI: Upload wiz-admission-controller chart
  index.yaml
  wiz-admission-controller-3.6.0-preview.tgz
Due: none

fix dependency versions
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

fix dependency versions (#400)
  wiz-kubernetes-connector/Chart.yaml
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-connector chart
  index.yaml
  wiz-kubernetes-connector-3.1.0-preview.tgz
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.0-preview.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.0-preview to 0.2.1-preview
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.1-preview.tgz
Due: none

Add priorityClassName to Broker, this mirrors functionality in Admission Controller and Sensor
  wiz-broker/templates/wiz-broker-deployment.yaml
  wiz-broker/values.yaml
  wiz-kubernetes-connector/values.yaml
Due: wiz-broker

CircleCI: Upload wiz-sensor chart
  wiz-sensor/Chart.yaml
  wiz-sensor/templates/daemonset.yaml
  wiz-sensor/values.yaml
Due: wiz-sensor

CircleCI: Upload wiz-sensor chart
  index.yaml
  wiz-sensor-1.0.4483.tgz
Due: none

CircleCI: Update wiz-kubernetes-integration chart patch version from 0.2.1-preview to 0.2.2-preview
  wiz-kubernetes-integration/Chart.yaml
Due: none

CircleCI: Upload wiz-kubernetes-integration chart
  index.yaml
  wiz-kubernetes-integration-0.2.2-preview.tgz
Due: none

Bump chart version
  wiz-outpost-lite/Chart.yaml
Due: none

Path conditions:
  parameters.mapping=>>: any of: <<
  flux2: any of: ^flux2/.*
  git-proxy: any of: ^git-proxy/.*
  wiz-broker: any of: ^wiz-broker/.*
  wiz-admission-controller: any of: ^wiz-admission-controller/.*
  wiz-sensor: any of: ^wiz-sensor/.*
